DeviceAsset_flows.json
[{"id":"991617dc.7e79f8","type":"tab","label":"Device Asset","disabled":false,"info":""},{"id":"4ab3ea7c.c20114","type":"ui_form","z":"991617dc.7e79f8","name":"Create","label":"Create","group":"73351a1f.1fc2ac","order":2,"width":8,"height":12,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Make","value":"make","type":"text","required":false,"rows":null},{"label":"Model","value":"model","type":"text","required":false,"rows":null},{"label":"Type","value":"type","type":"text","required":true,"rows":null},{"label":"Ignition Status","value":"ignStatus","type":"checkbox","required":false,"rows":null},{"label":"Battery Status","value":"battStatus","type":"checkbox","required":false,"rows":null},{"label":"Fuel Level","value":"fuelLevel","type":"checkbox","required":false,"rows":null},{"label":"Engine Temp","value":"engineTemp","type":"checkbox","required":false,"rows":null},{"label":"Engine Oil","value":"engineOil","type":"checkbox","required":false,"rows":null},{"label":"Engine Speed","value":"engineSpeed","type":"checkbox","required":false,"rows":null},{"label":"Hydraulic Pressure","value":"hydraulicPr","type":"checkbox","required":false,"rows":null},{"label":"Lifted Load","value":"liftedLoad","type":"checkbox","required":false,"rows":null}],"formValue":{"name":"","make":"","model":"","type":"","ignStatus":false,"battStatus":false,"fuelLevel":false,"engineTemp":false,"engineOil":false,"engineSpeed":false,"hydraulicPr":false,"liftedLoad":false},"payload":"","submit":"Install Device","cancel":"","topic":"","topicType":"str","splitLayout":true,"x":450,"y":1420,"wires":[["d8200e01.f7f608"]]},{"id":"e067a007.bfbcd","type":"debug","z":"991617dc.7e79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":1460,"wires":[]},{"id":"dc2c8094.5dcd3","type":"inject","z":"991617dc.7e79f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1420,"wires":[["18d4c2e8.8a1c2d"]]},{"id":"429d7348.858574","type":"file","z":"991617dc.7e79f8","name":"Store devices","filename":"C:\\Users\\p94kumar\\Documents\\NSW\\IOTDEMO\\devices1.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":740,"y":1420,"wires":[["e067a007.bfbcd","3e903c5c.72b84c","18d4c2e8.8a1c2d"]]},{"id":"1a20f5ec.3e9722","type":"debug","z":"991617dc.7e79f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":80,"wires":[]},{"id":"59a2f9b.6446c08","type":"join","z":"991617dc.7e79f8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":120,"wires":[["1a20f5ec.3e9722","a1c61f9a.2992d8"]]},{"id":"f0db156b.12f758","type":"json","z":"991617dc.7e79f8","name":"","property":"payload","action":"","pretty":false,"x":690,"y":180,"wires":[["59a2f9b.6446c08"]]},{"id":"421b40f6.040ce8","type":"inject","z":"991617dc.7e79f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["7da47440.8d931c"]]},{"id":"1af4dfb8.facde8","type":"file in","z":"991617dc.7e79f8","name":"read devices","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":120,"wires":[["de87d3c7.c1a6f"]]},{"id":"4d7585ab.e5757c","type":"split","z":"991617dc.7e79f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":120,"wires":[["f0db156b.12f758"]]},{"id":"de87d3c7.c1a6f","type":"function","z":"991617dc.7e79f8","name":"trim payload","func":"var str = msg.payload.slice(0,-1);\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":180,"wires":[["4d7585ab.e5757c"]]},{"id":"a1c61f9a.2992d8","type":"change","z":"991617dc.7e79f8","name":"","rules":[{"t":"set","p":"deviceArr","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":160,"wires":[["a5e4c130.1c2568"]]},{"id":"f62b116.1f2f8f","type":"function","z":"991617dc.7e79f8","d":true,"name":"Prep Sensor data","func":"var devices = flow.get('deviceArr');\nvar objArr = [];\nvar obj = {};\n\n//console.log(\"Number of devices:\"+devices.length);\n\nfor (var i=0; i<devices.length; i++)\n{\n    obj = {};\n    //Get the date/time\n    const now = new Date();\n    var cDate = now.toDateString().slice(4);\n    var cTime = now.toTimeString().slice(0,8);\n\n    obj.timestamp = Date.now();\n    obj.date = cDate;\n    obj.time = cTime;\n    obj.name = devices[i].name;\n    //if sensor enabled\n\tobj.ignStatus=devices[i].ignStatus==true?\"ON\":\"\";\n    obj.battStatus=devices[i].battStatus==true?getRndNum(90,92):\"\";\n    obj.engineTemp=devices[i].engineTemp==true?getRndNum(60, 66):\"\";\n    obj.engineOil=devices[i].engineOil==true?getRndNum(80, 95):\"\";\n    obj.fuelLevel=devices[i].fuelLevel==true?getRndNum(80, 85):\"\";\n    obj.engineSpeed=devices[i].engineSpeed==true?getRndNum(50, 60):\"\";\n    obj.hydraulicPr=devices[i].hydraulicPr==true?getRndNum(15, 21):\"\";\n    obj.liftedLoad=devices[i].liftedLoad==true?getRndNum(20, 50):\"\";\n    \n    //Send out the payload\n    objArr.push(obj);\n}\n\n//Generate random value for sensors\nfunction getRndNum(min, max)\n{\n    return Math.round((Math.random()*(max-min)+min)*100)/100;\n}\n\nmsg.payload = objArr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":740,"wires":[[]]},{"id":"ff41762d.b93bb8","type":"inject","z":"991617dc.7e79f8","name":"Send Sensor Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"u7ojzoqwe9uu/LOC/sensor","payload":"","payloadType":"str","x":190,"y":760,"wires":[["37f8ce02.467d42"]]},{"id":"f3d42fec.1c85b","type":"split","z":"991617dc.7e79f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":760,"wires":[["c0605b7b.baee"]]},{"id":"c0605b7b.baee","type":"json","z":"991617dc.7e79f8","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":760,"wires":[["65f7ab37.a37554","808ad20c.da3248"]]},{"id":"808ad20c.da3248","type":"mqtt out","z":"991617dc.7e79f8","name":"Send Data","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b8d1c944.a9217","x":1290,"y":820,"wires":[]},{"id":"c13c264b.77b5","type":"comment","z":"991617dc.7e79f8","name":"Send data to MQTT server","info":"Form to add devices\n    Input Device name, type etc\n    Input sensors available\n    After Submit, read file again, clear form\nLocation:\n    Initial lat/lon for all devices\n    if type=Moving, read lat/lon from files\n    send Loc\nSensors:\n    ENV: temp, hum, wind speed, pressure\n    Ignition, Battery, Fuel level, Load lifted,\n    Eng Temp, Eng Oil level, Hyd Pr,\n    \n    For all devices\n    If sensor enabled, generate a value\n    send Sensor data\nSimulate Events:\n    Load/unLoad ITV [empty or full]\n    Start/Stop\n    Dead battery or Fuel zero\n    send dispatch","x":150,"y":580,"wires":[]},{"id":"18d4c2e8.8a1c2d","type":"function","z":"991617dc.7e79f8","name":"Init Form","func":"msg.payload.name=msg.payload.make=msg.payload.model=msg.payload.type=\"\";\nmsg.payload.ignStatus=msg.payload.battStatus=false;\nmsg.payload.engineTemp=msg.payload.engineOil=false;\nmsg.payload.fuelLevel=msg.payload.engineSpeed=false;\nmsg.payload.hydraulicpr=msg.payload.liftedLoad=false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1420,"wires":[["4ab3ea7c.c20114"]]},{"id":"d8200e01.f7f608","type":"function","z":"991617dc.7e79f8","name":"Check Device","func":"var devices = flow.get('deviceArr');\n\nfor(var i=0; i<devices.length; i++)\n{\n    if(msg.payload.name == devices[i].name)\n    {\n        //Device already exists\n        msg.exist = 1;\n        return msg;\n    }\n}\nmsg.exist = 0;\nmsg.payload.lat=28.50242169085229;\nmsg.payload.lon=77.06461907860226;\nmsg.payload.age=1;\n\ndevices.push(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1500,"wires":[["24293278.c24d66"]]},{"id":"24293278.c24d66","type":"switch","z":"991617dc.7e79f8","name":"","property":"exist","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1500,"wires":[["429d7348.858574"],["b68ac9af.6ffc6"]]},{"id":"b68ac9af.6ffc6","type":"change","z":"991617dc.7e79f8","name":"Already Exists","rules":[{"t":"set","p":"devName","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Device Already Exists!!","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1520,"wires":[["82a3f27f.ff6b08"]]},{"id":"3e903c5c.72b84c","type":"change","z":"991617dc.7e79f8","name":"Create Success","rules":[{"t":"set","p":"devName","pt":"msg","to":"msg.payload.name","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Device Created Successfully!","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1420,"wires":[["82a3f27f.ff6b08"]]},{"id":"86e6dee5.dd39","type":"ui_text","z":"991617dc.7e79f8","group":"73351a1f.1fc2ac","order":1,"width":8,"height":1,"name":"","label":"","format":"<font color= {{msg.color}} > {{msg.devName}} - {{msg.payload}} </font>","layout":"row-center","x":1350,"y":1480,"wires":[]},{"id":"8e136c59.fb4c38","type":"comment","z":"991617dc.7e79f8","name":"Read device data from file","info":"","x":170,"y":60,"wires":[]},{"id":"b445b25f.4dfd6","type":"comment","z":"991617dc.7e79f8","name":"Create device & update in file","info":"","x":160,"y":1380,"wires":[]},{"id":"7feaec6.005d894","type":"inject","z":"991617dc.7e79f8","d":true,"name":"Send Loc Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"u7ojzoqwe9uu/LOC/location","payload":"","payloadType":"str","x":180,"y":1100,"wires":[["873999dd.b80cb"]]},{"id":"873999dd.b80cb","type":"change","z":"991617dc.7e79f8","d":true,"name":"deviceArr","rules":[{"t":"set","p":"payload","pt":"msg","to":"deviceArr","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1100,"wires":[["d3c328d9.dd3da8"]]},{"id":"fb53d300.cbbb4","type":"split","z":"991617dc.7e79f8","d":true,"name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":1100,"wires":[["58e2ff18.35971"]]},{"id":"58e2ff18.35971","type":"json","z":"991617dc.7e79f8","d":true,"name":"","property":"payload","action":"","pretty":false,"x":1010,"y":1100,"wires":[[]]},{"id":"c4ee9778.45402","type":"inject","z":"991617dc.7e79f8","d":true,"name":"Read Loc Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"u7ojzoqwe9uu/LOC/location","payload":"","payloadType":"str","x":160,"y":320,"wires":[["ec33c067.0fc6f8"]]},{"id":"ec33c067.0fc6f8","type":"change","z":"991617dc.7e79f8","d":true,"name":"deviceArr","rules":[{"t":"set","p":"payload","pt":"msg","to":"deviceArr","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":260,"wires":[["604d06de.3e9b58"]]},{"id":"604d06de.3e9b58","type":"split","z":"991617dc.7e79f8","d":true,"name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":320,"wires":[["2676c309.b31b8c"]]},{"id":"2676c309.b31b8c","type":"function","z":"991617dc.7e79f8","d":true,"name":"Make filename","func":"var filename = msg.payload.name+\"_geo.txt\";\nvar folder = \"C:\\\\Users\\\\p94kumar\\\\Documents\\\\NSW\\\\IOTDEMO\\\\\";\nmsg.filename = folder+filename;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":260,"wires":[["a65aba03.4fb5d"]]},{"id":"a65aba03.4fb5d","type":"file in","z":"991617dc.7e79f8","d":true,"name":"Read Loc","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":580,"y":320,"wires":[["c787fae8.660c28"]]},{"id":"c787fae8.660c28","type":"csv","z":"991617dc.7e79f8","d":true,"name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":710,"y":260,"wires":[["8158a6d2.2c1ce8"]]},{"id":"8158a6d2.2c1ce8","type":"function","z":"991617dc.7e79f8","d":true,"name":"Loc Map","func":"//msg.payload is an array\nvar locMap = flow.get('locMap');\n\nlocMap.set(msg.payload[0].name, msg.payload);\nflow.set('locMap', locMap);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar locMap = new Map();\n//console.log(\"========Created new map=========\");\nflow.set('locMap', locMap);","finalize":"","libs":[],"x":840,"y":320,"wires":[["342f275a.9b70d"]]},{"id":"798d5429.c9af44","type":"debug","z":"991617dc.7e79f8","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":260,"wires":[]},{"id":"40ce1580.e3a174","type":"comment","z":"991617dc.7e79f8","d":true,"name":"Read Loc data & store in Map","info":"","x":180,"y":220,"wires":[]},{"id":"d3c328d9.dd3da8","type":"function","z":"991617dc.7e79f8","d":true,"name":"Prep Loc Data","func":"var devices = flow.get('deviceArr');\nvar locMap = flow.get('locMap');\nvar objArr = [];\n//console.log(devices);\n//console.log(\"Devices Len=\"+devices.length);\nvar ind = context.get('loc_index') || 0;\n\n//Loop for all devices\nfor (var i=0; i<devices.length; i++)\n{\n    var locArr = locMap.get(devices[i].name);\n    if(locArr == undefined)\n        continue;\n    var len = locArr.length;\n    if(ind >= len) //locArray completed\n    {\n        //Pick last entry of array\n        objArr.push(locArr[len-1]);\n    }\n    else\n    {\n        var loc = locArr[ind];\n        //Store in array\n        objArr.push(loc);\n    }\n}\n//Increment index if all devices processed\nind++;\ncontext.set('loc_index', ind);\n\nmsg.payload = objArr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1100,"wires":[["fb53d300.cbbb4"]]},{"id":"342f275a.9b70d","type":"function","z":"991617dc.7e79f8","d":true,"name":"Prep Initial Loc","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":260,"wires":[["6963606b.4ea588"]]},{"id":"6963606b.4ea588","type":"json","z":"991617dc.7e79f8","d":true,"name":"","property":"payload","action":"","pretty":false,"x":1130,"y":320,"wires":[["798d5429.c9af44"]]},{"id":"a5e4c130.1c2568","type":"delay","z":"991617dc.7e79f8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":140,"wires":[["4b3ae311.7c4d8c"]]},{"id":"74046d7b.40b954","type":"link in","z":"991617dc.7e79f8","d":true,"name":"Read Loc Map","links":[],"x":115,"y":260,"wires":[["ec33c067.0fc6f8"]]},{"id":"4b3ae311.7c4d8c","type":"link out","z":"991617dc.7e79f8","name":"","links":["d593cf72.65a07"],"x":1345,"y":140,"wires":[]},{"id":"5a16c79d.182da8","type":"openweathermap","z":"991617dc.7e79f8","name":"","wtype":"current","lon":"","lat":"","city":"Gurgaon","country":"IN","language":"en","x":300,"y":800,"wires":[["71e522e5.95e394"]]},{"id":"c5de1988.4734b","type":"inject","z":"991617dc.7e79f8","name":"Get ENV","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":840,"wires":[["5a16c79d.182da8"]]},{"id":"53d17204.c8b12c","type":"function","z":"991617dc.7e79f8","name":"Prep Env data","func":"var envData = flow.get('envData') || {};\nif (envData == undefined)\n    return null;\n    \nconst now = new Date();\nvar cDate = now.toDateString().slice(4);\nvar cTime = now.toTimeString().slice(0,8);\n\nvar obj = {};\nobj.name = \"ENV\";\nobj.date = cDate;\nobj.time = cTime;\nobj.outsideTemp = envData.tempc;\nobj.outsideHum = envData.humidity;\nobj.windSpeed = Math.round((envData.windspeed*3600/1000)*10)/10;  //m/s to km/h\nobj.outsidePr = envData.pressure;\n\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":840,"wires":[["6edce493.fb32e4"]]},{"id":"6edce493.fb32e4","type":"json","z":"991617dc.7e79f8","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":840,"wires":[["808ad20c.da3248"]]},{"id":"71e522e5.95e394","type":"change","z":"991617dc.7e79f8","name":"Store ENV","rules":[{"t":"set","p":"envData","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":840,"wires":[[]]},{"id":"8fc9c719.d59de","type":"inject","z":"991617dc.7e79f8","name":"Send ENV","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"u7ojzoqwe9uu/LOC/sensor","payload":"","payloadType":"str","x":630,"y":840,"wires":[["53d17204.c8b12c"]]},{"id":"3f399607.90263a","type":"change","z":"991617dc.7e79f8","name":"Clear","rules":[{"t":"set","p":"payload","pt":"msg","to":"---","tot":"str"},{"t":"set","p":"devName","pt":"msg","to":"","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1520,"wires":[["86e6dee5.dd39"]]},{"id":"f7f91d25.9e0318","type":"ui_button","z":"991617dc.7e79f8","name":"","group":"8770e364.bb0768","order":2,"width":3,"height":1,"passthru":false,"label":"Load","tooltip":"","color":"","bgcolor":"","icon":"fa-check-circle","payload":"","payloadType":"str","topic":"load","topicType":"str","x":150,"y":1640,"wires":[["2324e9b4.18d63e"]]},{"id":"212c4a8a.b03a4e","type":"ui_dropdown","z":"991617dc.7e79f8","name":"","label":"Select Vehicle","tooltip":"","place":"Select option","group":"8770e364.bb0768","order":1,"width":6,"height":1,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"device","topicType":"str","x":180,"y":1580,"wires":[["2324e9b4.18d63e","a3f25214.f2fde","c22c49ca.35dbe"]]},{"id":"4cb98a1e.8e0d2c","type":"ui_button","z":"991617dc.7e79f8","name":"","group":"8770e364.bb0768","order":3,"width":3,"height":1,"passthru":false,"label":"UnLoad","tooltip":"","color":"","bgcolor":"#ab0000","icon":"fa-close","payload":"","payloadType":"str","topic":"unload","topicType":"str","x":160,"y":1680,"wires":[["2324e9b4.18d63e"]]},{"id":"82b6f970.10254","type":"ui_button","z":"991617dc.7e79f8","name":"","group":"8770e364.bb0768","order":5,"width":3,"height":1,"passthru":false,"label":"Fuel Up","tooltip":"","color":"","bgcolor":"","icon":"fa-gas-pump","payload":"","payloadType":"str","topic":"fuelUp","topicType":"str","x":160,"y":1720,"wires":[["a3f25214.f2fde"]]},{"id":"557cb578.5a5704","type":"ui_button","z":"991617dc.7e79f8","name":"","group":"8770e364.bb0768","order":6,"width":3,"height":1,"passthru":false,"label":"Fuel Low","tooltip":"","color":"","bgcolor":"#ab0000","icon":"fa-thermometer-empty","payload":"","payloadType":"str","topic":"fuelLow","topicType":"str","x":160,"y":1760,"wires":[["a3f25214.f2fde"]]},{"id":"adb6c733.24478","type":"ui_button","z":"991617dc.7e79f8","name":"","group":"8770e364.bb0768","order":9,"width":3,"height":1,"passthru":false,"label":"Battery Dead","tooltip":"","color":"","bgcolor":"#ab0000","icon":"fa-battery-quarter","payload":"","payloadType":"str","topic":"battDown","topicType":"str","x":170,"y":1800,"wires":[["c22c49ca.35dbe"]]},{"id":"96917faf.6e3358","type":"ui_button","z":"991617dc.7e79f8","name":"","group":"8770e364.bb0768","order":8,"width":3,"height":1,"passthru":false,"label":"Battery Normal","tooltip":"","color":"","bgcolor":"","icon":"fa-battery-full","payload":"","payloadType":"str","topic":"battUp","topicType":"str","x":180,"y":1840,"wires":[["c22c49ca.35dbe"]]},{"id":"710a14f6.f0830c","type":"ui_text","z":"991617dc.7e79f8","group":"8770e364.bb0768","order":10,"width":0,"height":0,"name":"Status","label":"","format":"{{msg.payload}}","layout":"row-center","x":970,"y":1680,"wires":[]},{"id":"458783a7.4b6bf4","type":"function","z":"991617dc.7e79f8","d":true,"name":"Prep Loc Data","func":"var devices = flow.get('deviceArr');\nvar currMap = flow.get('currStateMap');\nvar objArr = [];\n\nif(currMap == undefined)\n{\n    console.log(\"currMap undefined\");\n    return;\n}    \nvar all_keys = currMap.keys();\nfor (var k of all_keys) // for all elements in map\n{\n    var obj = currMap.get(k);\n    \n    if(obj.dispatch != true) continue; //process next device\n\n    //Choose a particular track\n    if (obj.loc == \"park\") \n        track = flow.get(\"locTrack1\");\n    else if (obj.loc == \"dock\")\n        track = flow.get(\"locTrack2\");\n    else if (obj.loc == \"yard\")\n        track = flow.get(\"locTrack3\");\n    else\n        track = null;\n    //console.log(\"track: \"+track);\n    if(track != null && track != undefined)\n    {\n        //Pick lat, lon from track array\n        var locObj = track[obj.locIndex];\n        locObj.name = obj.name;\n        objArr.push(locObj);\n        \n        if(obj.locIndex < track.length-1)\n        {\n            obj.locIndex++; //next loc from same track\n        }\n        else\n        {\n            //Update loc and reset index\n            if(obj.loc == \"park\") obj.loc = \"dock\";\n            else if(obj.loc == \"dock\") obj.loc = \"yard\";\n            else if(obj.loc == \"yard\") \n            {\n                obj.loc = \"park\";\n                obj.dispatch = false;\n            }\n            obj.locIndex = 0;\n            console.log(\"reset: \"+obj.loc);\n        }\n    }\n    //update currMap\n    currMap.set(k, obj);\n}\n\nmsg.payload = objArr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1060,"wires":[["e30d8729.11a7"]]},{"id":"108b5789.613ad8","type":"file in","z":"991617dc.7e79f8","name":"Track1","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":400,"wires":[["7d16fc15.d7a89c"]]},{"id":"7d16fc15.d7a89c","type":"csv","z":"991617dc.7e79f8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":720,"y":400,"wires":[["7152a083.87a508"]]},{"id":"7152a083.87a508","type":"change","z":"991617dc.7e79f8","name":"","rules":[{"t":"set","p":"locTrack1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":400,"wires":[["c9cad8db.dfa7c"]]},{"id":"c9cad8db.dfa7c","type":"debug","z":"991617dc.7e79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":400,"wires":[]},{"id":"54ad752e.17bba4","type":"inject","z":"991617dc.7e79f8","name":"read Track","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"track","payloadType":"str","x":150,"y":440,"wires":[["21988e49.e5e1f2","e60e12dd.e2d7c","a7800183.c4feb8"]]},{"id":"3ac1dff2.61f4f8","type":"file in","z":"991617dc.7e79f8","name":"Track2","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":440,"wires":[["cc037945.e3b55"]]},{"id":"cc037945.e3b55","type":"csv","z":"991617dc.7e79f8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":720,"y":440,"wires":[["999e3133.1f36c"]]},{"id":"999e3133.1f36c","type":"change","z":"991617dc.7e79f8","name":"","rules":[{"t":"set","p":"locTrack2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":440,"wires":[["27de7689.a746a2"]]},{"id":"27de7689.a746a2","type":"debug","z":"991617dc.7e79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":440,"wires":[]},{"id":"5e81c218.d4a02c","type":"file in","z":"991617dc.7e79f8","name":"Track3","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":480,"wires":[["9c7ed790.44e69"]]},{"id":"9c7ed790.44e69","type":"csv","z":"991617dc.7e79f8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":720,"y":480,"wires":[["6a756e04.fbdde8"]]},{"id":"6a756e04.fbdde8","type":"change","z":"991617dc.7e79f8","name":"","rules":[{"t":"set","p":"locTrack3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":480,"wires":[["93e8abd6.9c4488"]]},{"id":"93e8abd6.9c4488","type":"debug","z":"991617dc.7e79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":480,"wires":[]},{"id":"b0a02ecc.10da98","type":"inject","z":"991617dc.7e79f8","name":"Send Initial Loc","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"u7ojzoqwe9uu/LOC/location","payload":"","payloadType":"str","x":180,"y":700,"wires":[["2a85555a.7c4832"]]},{"id":"2a85555a.7c4832","type":"function","z":"991617dc.7e79f8","name":"Prep Init Loc","func":"var devices = flow.get('deviceArr');\nvar objArr = [];\n\n//Loop for all devices\nfor (var i=0; i<devices.length; i++)\n{\n    var loc = {\n        \"name\":devices[i].name,\n        \"lat\": devices[i].lat,\n        \"lon\": devices[i].lon\n    }\n    \n    objArr.push(loc);\n}\n\nmsg.payload = objArr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":700,"wires":[["b552f231.66c6a8"]]},{"id":"b552f231.66c6a8","type":"split","z":"991617dc.7e79f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":850,"y":700,"wires":[["95936ecc.52"]]},{"id":"95936ecc.52","type":"json","z":"991617dc.7e79f8","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":700,"wires":[["808ad20c.da3248"]]},{"id":"65f7ab37.a37554","type":"debug","z":"991617dc.7e79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":700,"wires":[]},{"id":"d593cf72.65a07","type":"link in","z":"991617dc.7e79f8","name":"Send Initial Loc","links":["4b3ae311.7c4d8c"],"x":215,"y":620,"wires":[["a75715dd.c5eab8","5c6a8be1.c1b7ec"]]},{"id":"4bdd164e.125998","type":"inject","z":"991617dc.7e79f8","d":true,"name":"Send Loc Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"u7ojzoqwe9uu/LOC/location","payload":"","payloadType":"str","x":180,"y":1060,"wires":[["d6ff3d7b.2b40c8"]]},{"id":"d6ff3d7b.2b40c8","type":"change","z":"991617dc.7e79f8","d":true,"name":"deviceArr","rules":[{"t":"set","p":"payload","pt":"msg","to":"deviceArr","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1060,"wires":[["458783a7.4b6bf4"]]},{"id":"a75715dd.c5eab8","type":"function","z":"991617dc.7e79f8","name":"Prep CurrMap","func":"var currStateMap = flow.get('currStateMap') || new Map();\n\n//name, lat, lon, loc, state, ign, dispatch\n\nvar devices = flow.get('deviceArr');\n\n//Loop for all devices\nfor (var i=0; i<devices.length; i++)\n{\n    var obj = {\n        \"name\":devices[i].name,\n        \"lat\": devices[i].lat,\n        \"lon\": devices[i].lon,\n        \"loc\": \"park\",\n        \"locIndex\": 0,\n        \"state\": \"avail\",\n        \"liftedLoad\": 0,\n        \"moving\": false,\n        \"consFuel\": 0,\n        \"dispatch\": false\n    }\n    currStateMap.set(obj.name, obj);\n}\n\nflow.set('currStateMap', currStateMap);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":620,"wires":[["bbbdccc5.46bc8"]]},{"id":"e30d8729.11a7","type":"split","z":"991617dc.7e79f8","d":true,"name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":830,"y":1060,"wires":[[]]},{"id":"b6b390ea.cd25a","type":"json","z":"991617dc.7e79f8","name":"","property":"payload","action":"","pretty":false,"x":1050,"y":920,"wires":[["63c7d735.523b8"]]},{"id":"6abea37a.78e01c","type":"debug","z":"991617dc.7e79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":920,"wires":[]},{"id":"2f605ca.8ce96a4","type":"function","z":"991617dc.7e79f8","name":"show currMap","func":"var currMap = flow.get('currStateMap');\nvar objArr = [];\n\n\nvar all_keys = currMap.keys();\nfor (var k of all_keys) // for all elements in map\n{\n    var obj = currMap.get(k);\n    objArr.push(obj);\n}\n\nmsg.payload = objArr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":620,"wires":[["2f4de7bd.47fce8"]]},{"id":"2f4de7bd.47fce8","type":"debug","z":"991617dc.7e79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":620,"wires":[]},{"id":"394548e1.4e0fa8","type":"inject","z":"991617dc.7e79f8","name":"dispatch","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"u7ojzoqwe9uu/LOC/location","payload":"{\"name\":\"ITV1\",\"dispatch\":true}","payloadType":"json","x":160,"y":1180,"wires":[["bdabd89b.f6fc48"]]},{"id":"bdabd89b.f6fc48","type":"function","z":"991617dc.7e79f8","name":"Set Command","func":"var currMap = flow.get('currStateMap');\nvar objArr = [];\nvar name = msg.payload.name;\nvar obj = currMap.get(name);\nobj.dispatch = msg.payload.dispatch;\nobj.moving = msg.payload.dispatch;\n\ncurrMap.set(name, obj);\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1200,"wires":[["99207359.b9e798"]]},{"id":"99207359.b9e798","type":"debug","z":"991617dc.7e79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":1200,"wires":[]},{"id":"3cff3ae4.a8c07e","type":"inject","z":"991617dc.7e79f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":580,"wires":[["2f605ca.8ce96a4"]]},{"id":"b39520e1.62789","type":"inject","z":"991617dc.7e79f8","name":"Send Loc Data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"u7ojzoqwe9uu/LOC/location","payload":"","payloadType":"str","x":180,"y":920,"wires":[["2b985ba3.0bc194"]]},{"id":"2b985ba3.0bc194","type":"change","z":"991617dc.7e79f8","name":"deviceArr","rules":[{"t":"set","p":"payload","pt":"msg","to":"deviceArr","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":920,"wires":[["cc45456.1851538"]]},{"id":"cc45456.1851538","type":"split","z":"991617dc.7e79f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":920,"wires":[["152379a1.e61b06"]]},{"id":"152379a1.e61b06","type":"function","z":"991617dc.7e79f8","name":"Select track","func":"var devices = flow.get('deviceArr');\nvar currMap = flow.get('currStateMap');\nvar objArr = [];\nvar name = msg.payload.name;\n\nif(currMap == undefined)\n{\n    console.log(\"currMap undefined\");\n    return;\n}    \n\nvar obj = currMap.get(name);\n    \nif(obj.dispatch != true) {\n    //console.log(\"Dispatch is false...Not sending\");\n    return; //process next device\n}\n//Choose a particular track\nif (obj.state == \"avail\") \n    track = flow.get(\"locTrack1\");\nelse if (obj.state == \"loaded\")\n    track = flow.get(\"locTrack2\");\nelse if (obj.state == \"unloaded\")\n    track = flow.get(\"locTrack3\");\nelse\n    track = null;\n    \nmsg.track = track;\n    \nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":920,"wires":[["e73591b7.93c9"]]},{"id":"cde54d86.d9ad","type":"function","z":"991617dc.7e79f8","name":"Prep Loc","func":"//var devices = flow.get('deviceArr');\nvar currMap = flow.get('currStateMap');\n//var objArr = [];\nvar obj = msg.payload;\nvar track = msg.track;\nvar locObj = {};\nif(track != null && track != undefined)\n{\n    //Pick lat, lon from track array\n    locObj = track[obj.locIndex];\n    locObj.name = obj.name;\n    locObj.onTrip = 1;\n    //objArr.push(locObj);\n    \n    if(obj.locIndex < track.length-1)\n    {\n        obj.locIndex++; //next loc from same track\n    }\n    else\n    {\n        //console.log(\"locIndex=\"+obj.locIndex);\n        switch(obj.state) {\n            case \"avail\":\n                obj.loc = \"dock\";\n                break;\n            case \"loaded\":\n                obj.loc = \"yard\";\n                break;\n            case \"unloaded\":\n                obj.loc = \"park\";\n                obj.dispatch = false;\n                obj.state = \"avail\";\n                obj.locIndex = 0;\n                locObj.onTrip = 0;\n                locObj.lat = msg.payload.lat; //align original loc\n                locObj.lon = msg.payload.lon;\n                break;\n        }\n    }\n}\n//update currMap\ncurrMap.set(obj.name, obj);\n\nmsg.payload = locObj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":920,"wires":[["b6b390ea.cd25a"]]},{"id":"4f90c87f.9e7508","type":"change","z":"991617dc.7e79f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"u7ojzoqwe9uu/LOC/location","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":660,"wires":[["2a85555a.7c4832"]]},{"id":"d1dbbb2e.1a19","type":"mqtt in","z":"991617dc.7e79f8","name":"Read Loc","topic":"u7ojzoqwe9uu/CMD/#","qos":"0","datatype":"json","broker":"b8d1c944.a9217","nl":false,"rap":true,"rh":0,"x":160,"y":1220,"wires":[["bdabd89b.f6fc48"]]},{"id":"2324e9b4.18d63e","type":"function","z":"991617dc.7e79f8","name":"Load/unload","func":"var data = context.get('data') || {\"name\": \"ITV1\"};\nvar topic = msg.topic;\nvar payload = {};\n\nif (msg.payload == undefined || msg.payload==\"\")\n    return;\nif(topic == \"device\")\n    data.device = msg.payload;\n    \nif(topic == \"load\")\n{\n    payload.name = data.device;\n    payload.liftedLoad = Math.round((Math.random()*(30-24)+24)*10)/10;\n    payload.state = \"loaded\";\n    payload.locIndex = 0;\n    msg.payload = payload;\n    return msg;\n}\nelse if(topic == \"unload\")\n{\n    payload.name = data.device;\n    payload.liftedLoad = 0;\n    payload.state = \"unloaded\";\n    payload.locIndex = 0;\n    msg.payload = payload;\n    return msg;\n}\ncontext.set('data', data);    \nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1640,"wires":[["9c6685be.8524f8"]]},{"id":"9c6685be.8524f8","type":"function","z":"991617dc.7e79f8","name":"update currMap","func":"var currMap = flow.get('currStateMap');\nvar sensorMap = flow.get('sensorMap');\n\nvar objArr = [];\nvar name = msg.payload.name;\nvar obj = currMap.get(name);\nvar sobj = sensorMap.get(name);\n\nif(msg.payload.liftedLoad != undefined){\n    sobj.liftedLoad = msg.payload.liftedLoad;\n    obj.state = msg.payload.state;\n    obj.locIndex = msg.payload.locIndex;\n}\nif(msg.payload.fuelLevel != undefined)\n    sobj.fuelLevel = msg.payload.fuelLevel;\n\nif(msg.payload.battery != undefined)\n    sobj.battStatus = msg.payload.battery;\n\ncurrMap.set(name, obj);\nsensorMap.set(name, sobj);\n\nmsg.payload = sobj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1740,"wires":[["fdbb07f.f3fae78","c8c85e26.3a7af"]]},{"id":"a3f25214.f2fde","type":"function","z":"991617dc.7e79f8","name":"Fuel Low-Up","func":"var data = context.get('data') || {\"device\":\"ITV1\", \"dispatch\":false};\nvar topic = msg.topic;\nvar payload = {};\n\nif (msg.payload == undefined || msg.payload==\"\")\n    return;\nif(topic == \"device\")\n    data.device = msg.payload;\n    \nif(topic == \"fuelUp\")\n{\n    payload.name = data.device;\n    payload.fuelLevel = 75;\n    msg.payload = payload;\n    return msg;\n}\nelse if(topic == \"fuelLow\")\n{\n    payload.name = data.device;\n    payload.fuelLevel = 8;\n    msg.payload = payload;\n    return msg;\n}\ncontext.set('data', data);    \nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1740,"wires":[["9c6685be.8524f8"]]},{"id":"c22c49ca.35dbe","type":"function","z":"991617dc.7e79f8","name":"Battery","func":"var data = context.get('data') || {\"device\":\"ITV1\", \"dispatch\":false};\nvar topic = msg.topic;\nvar payload = {};\n\nif (msg.payload == undefined || msg.payload==\"\")\n    return;\nif(topic == \"device\")\n    data.device = msg.payload;\n    \nif(topic == \"battDown\")\n{\n    payload.name = data.device;\n    payload.battery = 20;\n    msg.payload = payload;\n    return msg;\n}\nelse if(topic == \"battUp\")\n{\n    payload.name = data.device;\n    payload.battery = 90;\n    msg.payload = payload;\n    return msg;\n}\ncontext.set('data', data);    \nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1820,"wires":[["9c6685be.8524f8"]]},{"id":"fdbb07f.f3fae78","type":"debug","z":"991617dc.7e79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":1740,"wires":[]},{"id":"c8c85e26.3a7af","type":"trigger","z":"991617dc.7e79f8","name":"","op1":"Action Done...","op2":"--","op1type":"str","op2type":"str","duration":"2","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":780,"y":1680,"wires":[["710a14f6.f0830c"]]},{"id":"82a3f27f.ff6b08","type":"trigger","z":"991617dc.7e79f8","name":"","op1":"","op2":"--","op1type":"pay","op2type":"str","duration":"3","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":1160,"y":1460,"wires":[["86e6dee5.dd39"],["3f399607.90263a"]]},{"id":"dc5ff74c.285fe","type":"comment","z":"991617dc.7e79f8","name":"Get Commands from MQTT","info":"","x":180,"y":1140,"wires":[]},{"id":"6eebe3fa.22e19c","type":"comment","z":"991617dc.7e79f8","name":"Read Track geo data","info":"","x":130,"y":400,"wires":[]},{"id":"b87f4d30.3b0cb8","type":"inject","z":"991617dc.7e79f8","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":70,"y":1520,"wires":[["6e393bb0.70709c"]]},{"id":"6e393bb0.70709c","type":"function","z":"991617dc.7e79f8","name":"send Dispatch","func":"var options = [\"ITV1\", \"ITV2\", \"ITV3\", \"ITV4\"];\nmsg.options = options;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":231.42857360839844,"y":1518.4287109375,"wires":[["212c4a8a.b03a4e"]]},{"id":"f2305998.e62b7","type":"function","z":"991617dc.7e79f8","name":"Prep Loc Auto","func":"//var devices = flow.get('deviceArr');\nvar currMap = flow.get('currStateMap');\nvar sensorMap = flow.get('sensorMap');\n//var objArr = [];\nvar obj = msg.payload;\nvar sobj = sensorMap.get(msg.payload.name);\n\nvar track = msg.track;\nvar locObj = {};\nif(track != null && track != undefined)\n{\n    \n    //Pick lat, lon from track array\n    locObj = track[obj.locIndex];\n    locObj.name = obj.name;\n    locObj.onTrip = 1;\n    //objArr.push(locObj);\n    \n    if(obj.locIndex < track.length-1)\n    {\n        obj.locIndex++; //next loc from same track\n    }\n    else\n    {\n        //console.log(\"locIndex=\"+obj.locIndex);\n        switch(obj.state) {\n            case \"avail\":\n                obj.loc = \"dock\";\n                //next 3 lines - for auto_load_unload\n                sobj.liftedLoad = Math.round((Math.random()*(30-24)+24)*10)/10;\n                obj.state = \"loaded\";\n                obj.locIndex = 0;\n                break;\n            case \"loaded\":\n                obj.loc = \"yard\";\n                //next 3 lines - for auto_load_unload\n                sobj.liftedLoad = 0;\n                obj.state = \"unloaded\";\n                obj.locIndex = 0;\n                break;\n            case \"unloaded\":\n                obj.loc = \"park\";\n                obj.dispatch = false;\n                obj.moving = false;\n                obj.state = \"avail\";\n                obj.locIndex = 0;\n                locObj.onTrip = 0;\n                locObj.lat = msg.payload.lat; //align original loc\n                locObj.lon = msg.payload.lon;\n                break;\n        }\n    }\n}\n//update currMap\ncurrMap.set(obj.name, obj);\nsensorMap.set(sobj.name, sobj);\n\nmsg.payload = locObj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":980,"wires":[["b6b390ea.cd25a"]]},{"id":"e73591b7.93c9","type":"switch","z":"991617dc.7e79f8","name":"","property":"auto_load_unload","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":980,"wires":[["cde54d86.d9ad"],["f2305998.e62b7"]]},{"id":"db5c2f6d.c62d08","type":"ui_switch","z":"991617dc.7e79f8","name":"auto_load","label":"Auto Load Unload","tooltip":"","group":"8770e364.bb0768","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":540,"y":1900,"wires":[["e602e8ac.812698"]]},{"id":"dcf114a3.c08e5","type":"inject","z":"991617dc.7e79f8","name":"Init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":1900,"wires":[["1d0e4636.eeb2fa"]]},{"id":"e602e8ac.812698","type":"function","z":"991617dc.7e79f8","name":"Toggle","func":"var curState = flow.get('auto_load_unload');\n\n//flow.set('curState', 1-curState);\nflow.set('auto_load_unload', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set('auto_load_unload', 1);","finalize":"","libs":[],"x":730,"y":1900,"wires":[["1a26f152.be512f"]]},{"id":"1d0e4636.eeb2fa","type":"delay","z":"991617dc.7e79f8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":1900,"wires":[["db5c2f6d.c62d08"]]},{"id":"1a26f152.be512f","type":"debug","z":"991617dc.7e79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":1900,"wires":[]},{"id":"75e9e673.85c448","type":"function","z":"991617dc.7e79f8","name":"ignition","func":"var currMap = flow.get('currStateMap');\nvar sensorMap = flow.get('sensorMap');\n\nvar name = msg.payload.name;\nvar obj = currMap.get(name);\nvar sobj = sensorMap.get(name);\n    \nif(obj.dispatch == false) {\n    sobj.ignStatus = \"OFF\";\n}\nelse {\n    if(obj.moving == true) //where to set moving??\n        sobj.ignStatus = \"ON\";\n}\n\nsensorMap.set(name, sobj);\n\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":2020,"wires":[[]]},{"id":"bb0ab566.4eb94","type":"function","z":"991617dc.7e79f8","name":"engineTemp","func":"var currMap = flow.get('currStateMap');\nvar sensorMap = flow.get('sensorMap');\n\nvar name = msg.payload.name;\nvar obj = currMap.get(name);\nvar sobj = sensorMap.get(name);\nvar eTempLow, eTempHigh;\n\nif(obj.dispatch == false) {\n    if(sobj.ignStatus == \"OFF\"){\n        eTempLow = 25;\n        eTempHigh = 27;\n    }\n    else {\n        eTempLow = 35;\n        eTempHigh = 37;\n    }\n}\nelse {\n    if(sobj.ignStatus == \"ON\" && obj.moving == true){\n        eTempLow = 41;\n        eTempHigh = 43;\n    }\n    else {\n        eTempLow = 35;\n        eTempHigh = 37;\n    }\n}\nsobj.engineTemp = Math.round((Math.random()*(eTempHigh-eTempLow)+eTempLow)*100)/100;\nsensorMap.set(name, sobj);\n\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":2060,"wires":[[]]},{"id":"abf2fabd.77d768","type":"function","z":"991617dc.7e79f8","name":"batt-engOil","func":"var currMap = flow.get('currStateMap');\nvar sensorMap = flow.get('sensorMap');\n\nvar name = msg.payload.name;\nvar obj = currMap.get(name);\nvar sobj = sensorMap.get(name);\nvar age = msg.payload.age;\nvar high = 100 - 5*age;\nvar low = high - 2;\n\nif(sobj.battStatus > 25){\n    sobj.battStatus = Math.round((Math.random()*(high-low)+low-10)*100)/100;\n\n}\nsobj.engineOil = Math.round((Math.random()*(high-low)+low)*100)/100;\nsensorMap.set(name, sobj);\n\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":2100,"wires":[[]]},{"id":"fe19e04.c819ea","type":"function","z":"991617dc.7e79f8","name":"fuel","func":"var currMap = flow.get('currStateMap');\nvar sensorMap = flow.get('sensorMap');\n\nvar name = msg.payload.name;\nvar obj = currMap.get(name);\nvar sobj = sensorMap.get(name);\nvar cons=0;\n\nif(sobj.ignStatus == \"ON\" && obj.moving == true){\n    var currFuel = sobj.fuelLevel;\n    cons = Math.round((Math.random()*(0.2-0.1)+0.1)*100)/100;\n    sobj.fuelLevel = Math.round((currFuel - cons)*10)/10;\n}\n\nsensorMap.set(name, sobj);\n\nmsg.payload = {\"name\": sobj.name, \"fuel\":sobj.fuelLevel, \"cons\": cons};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":2140,"wires":[["14334b81.f8d53c"]]},{"id":"9398bd0b.5a2608","type":"function","z":"991617dc.7e79f8","name":"speed","func":"var currMap = flow.get('currStateMap');\nvar sensorMap = flow.get('sensorMap');\n\nvar name = msg.payload.name;\nvar obj = currMap.get(name);\nvar sobj = sensorMap.get(name);\nvar low, high;\n\nif(obj.moving == true){\n    if(obj.locIndex >= 3){\n        low = 50;\n        high = 60;\n    }\n    else if(obj.locIndex == 2){\n        low = 45;\n        high = 50;\n    }\n    else if(obj.locIndex == 1){\n        low = 30;\n        high = 35;\n    }\n    else {\n        low = 15;\n        high = 20;\n    }\n}\nelse {\n    low = 0;\n    high = 0;\n}\n\nsobj.engineSpeed = Math.round((Math.random()*(high-low)+low)*100)/100;\n\nsensorMap.set(name, sobj);\n\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":2180,"wires":[[]]},{"id":"9257d8ec.f5c95","type":"function","z":"991617dc.7e79f8","name":"hyd-load","func":"var currMap = flow.get('currStateMap');\nvar sensorMap = flow.get('sensorMap');\n\nvar name = msg.payload.name;\nvar obj = currMap.get(name);\nvar sobj = sensorMap.get(name);\n\nif(obj.state == \"loaded\" && sobj.liftedLoad == 0){\n    sobj.liftedLoad = Math.round((Math.random()*(30-24)+24)*10)/10;\n}\n\nif(obj.state == \"loaded\" && sobj.liftedLoad > 0){\n    sobj.hydraulicPr = Math.round((Math.random()*(25-22)+22)*10)/10;\n}\nelse {\n    sobj.hydraulicPr = Math.round((Math.random()*(17-15)+15)*10)/10;\n}\n\nsensorMap.set(name, sobj);\n\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":2220,"wires":[[]]},{"id":"e3a0d388.cfaa7","type":"inject","z":"991617dc.7e79f8","name":"simulate data","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"u7ojzoqwe9uu/LOC/location","payload":"","payloadType":"str","x":160,"y":2100,"wires":[["ea044820.64c1b8"]]},{"id":"ea044820.64c1b8","type":"change","z":"991617dc.7e79f8","name":"deviceArr","rules":[{"t":"set","p":"payload","pt":"msg","to":"deviceArr","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":2100,"wires":[["3a892221.50f0ae"]]},{"id":"3a892221.50f0ae","type":"split","z":"991617dc.7e79f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":2100,"wires":[["75e9e673.85c448","bb0ab566.4eb94","abf2fabd.77d768","fe19e04.c819ea","9398bd0b.5a2608","9257d8ec.f5c95"]]},{"id":"5c6a8be1.c1b7ec","type":"delay","z":"991617dc.7e79f8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":660,"wires":[["4f90c87f.9e7508"]]},{"id":"bbbdccc5.46bc8","type":"function","z":"991617dc.7e79f8","name":"Prep sensorMap","func":"var sensorMap = flow.get('sensorMap') || new Map();\n\n//name, lat, lon, loc, state, ign, dispatch\n\nvar devices = flow.get('deviceArr');\n\n//Loop for all devices\nfor (var i=0; i<devices.length; i++)\n{\n    var obj = {};\n    //Get the date/time\n    const now = new Date();\n    var cDate = now.toDateString().slice(4);\n    var cTime = now.toTimeString().slice(0,8);\n\n    obj.timestamp = Date.now();\n    obj.date = cDate;\n    obj.time = cTime;\n    obj.name = devices[i].name;\n    \n\tobj.ignStatus=\"\";\n    obj.battStatus=85;\n    obj.engineTemp=26;\n    obj.engineOil=90;\n    obj.fuelLevel=85;\n    obj.engineSpeed=0;\n    obj.hydraulicPr=15;\n    obj.liftedLoad=0;\n    \n    \n    sensorMap.set(obj.name, obj);\n}\n\nflow.set('sensorMap', sensorMap);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":620,"wires":[[]]},{"id":"37f8ce02.467d42","type":"function","z":"991617dc.7e79f8","name":"Prep Sensor data","func":"var devices = flow.get('deviceArr');\nvar sensorMap = flow.get('sensorMap');\n\nvar objArr = [];\nvar obj = {};\n\n//console.log(\"Number of devices:\"+devices.length);\n\nfor (var i=0; i<devices.length; i++)\n{\n    obj = {};\n    var sobj = sensorMap.get(devices[i].name);\n    //Get the date/time\n    const now = new Date();\n    var cDate = now.toDateString().slice(4);\n    var cTime = now.toTimeString().slice(0,8);\n\n    obj.timestamp = Date.now();\n    obj.date = cDate;\n    obj.time = cTime;\n    obj.name = devices[i].name;\n    //if sensor enabled\n    if(devices[i].ignStatus==true)\n        obj.ignStatus=sobj.ignStatus;\n    if(devices[i].battStatus==true)\n        obj.battStatus=sobj.battStatus;\n    if(devices[i].engineTemp==true)\n        obj.engineTemp=sobj.engineTemp;\n    if(devices[i].engineOil==true)\n        obj.engineOil=sobj.engineOil;\n    if(devices[i].fuelLevel==true)\n        obj.fuelLevel=sobj.fuelLevel;\n    if(devices[i].engineSpeed==true)\n        obj.engineSpeed=sobj.engineSpeed;\n    if(devices[i].hydraulicPr==true)\n        obj.hydraulicPr=sobj.hydraulicPr;\n    if(devices[i].liftedLoad==true)\n        obj.liftedLoad=sobj.liftedLoad;\n        \n    //Send out the payload\n    objArr.push(obj);\n}\n\nmsg.payload = objArr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":760,"wires":[["f3d42fec.1c85b"]]},{"id":"2e6a3450.7ca3c4","type":"debug","z":"991617dc.7e79f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":2140,"wires":[]},{"id":"14334b81.f8d53c","type":"function","z":"991617dc.7e79f8","name":"","func":"if (msg.payload.name == \"ITV1\")\n    return msg;\nelse\n    return;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":2140,"wires":[["2e6a3450.7ca3c4"]]},{"id":"63c7d735.523b8","type":"delay","z":"991617dc.7e79f8","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"2","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":880,"wires":[["808ad20c.da3248","6abea37a.78e01c"]]},{"id":"7da47440.8d931c","type":"function","z":"991617dc.7e79f8","name":"filename","func":"var filename = \"\\\\IOTDEMO\\\\devices1.txt\";\nvar folder = env.get(\"PROJDATA\") ;\nmsg.filename = folder+filename;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":80,"wires":[["1af4dfb8.facde8"]]},{"id":"21988e49.e5e1f2","type":"function","z":"991617dc.7e79f8","name":"filename","func":"var filename = \"\\\\IOTDEMO\\\\geo_track1.txt\";\nvar folder = env.get(\"PROJDATA\") ;\nmsg.filename = folder+filename;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":400,"wires":[["108b5789.613ad8"]]},{"id":"e60e12dd.e2d7c","type":"function","z":"991617dc.7e79f8","name":"filename","func":"var filename = \"\\\\IOTDEMO\\\\geo_track2.txt\";\nvar folder = env.get(\"PROJDATA\") ;\nmsg.filename = folder+filename;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":440,"wires":[["3ac1dff2.61f4f8"]]},{"id":"a7800183.c4feb8","type":"function","z":"991617dc.7e79f8","name":"filename","func":"var filename = \"\\\\IOTDEMO\\\\geo_track3.txt\";\nvar folder = env.get(\"PROJDATA\") ;\nmsg.filename = folder+filename;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":480,"wires":[["5e81c218.d4a02c"]]},{"id":"73351a1f.1fc2ac","type":"ui_group","name":"Config","tab":"12a8c086.403b27","order":1,"disp":true,"width":8,"collapse":false},{"id":"b8d1c944.a9217","type":"mqtt-broker","name":"IMPACT MQTT","broker":"impact.idc.nokia.com","port":"31883","clientid":"pk_mqtt_1","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8770e364.bb0768","type":"ui_group","name":"Actions","tab":"12a8c086.403b27","order":2,"disp":true,"width":6,"collapse":false},{"id":"12a8c086.403b27","type":"ui_tab","name":"Devices","icon":"dashboard","order":4,"disabled":false,"hidden":false}]