TrackingApp_flows.json
[{"id":"f5d65864.a74aa","type":"tab","label":"TrackingApp","disabled":false,"info":""},{"id":"1d4c67cb.ddc78","type":"mqtt in","z":"f5d65864.a74aa","name":"Read Data","topic":"u7ojzoqwe9uu/LOC/#","qos":"0","datatype":"json","broker":"b8d1c944.a9217","nl":false,"rap":true,"rh":0,"x":60,"y":420,"wires":[["a9bca233.f4f74","c991fab3.3266d8"]]},{"id":"7c5e1d8.1584164","type":"function","z":"f5d65864.a74aa","name":"Prep Sensor Chart","func":"//Put individual sensor values on a different output\nvar engTemp = {\n    \"payload\": msg.payload.engineTemp,\n    \"topic\": msg.payload.name\n}\nvar engOil = {\n    \"payload\": msg.payload.engineOil,\n    \"topic\": msg.payload.name\n}\nvar fuelLevel = {\n    \"payload\": msg.payload.fuelLevel,\n    \"topic\": msg.payload.name\n}\nvar engineSpeed = {\n    \"payload\": msg.payload.engineSpeed,\n    \"topic\": msg.payload.name\n}\nvar hydraulicPr = {\n    \"payload\": msg.payload.hydraulicPr,\n    \"topic\": msg.payload.name\n}\nvar liftedLoad = {\n    \"payload\": msg.payload.liftedLoad,\n    \"topic\": msg.payload.name\n}\nreturn [engTemp, engOil, fuelLevel, engineSpeed, hydraulicPr, liftedLoad];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1200,"wires":[["7ca3a84f.fccef8"],["fc04d409.94a388"],["767cd96b.0d0a6"],["b51c9f85.8a5fc"],["39cc30f2.ccfe58"],["35bf9163.291586"]]},{"id":"662bc825.44dab","type":"function","z":"f5d65864.a74aa","name":"icon-label","func":"var map1 = flow.get('map1');\nvar obj = map1.get(msg.payload.name);\nvar map2 = flow.get('map2');\nvar load = 0;\nif(map2 != undefined && map2.get(msg.payload.name) != undefined){\n    load = (map2.get(msg.payload.name)).liftedLoad;\n}\n//Set obj properties to display on map\nobj.icon = \"fa-truck\";\nobj.label = msg.payload.name;\nif(load > 0)\n    obj.label = obj.label + \"-\" + load + \" Ton\";\n//obj.label = msg.payload.name+\"-\"+obj.count;\n\nmsg.payload = obj;\n//console.log(\"Fence= \"+msg.payload.geoFence+\"  Color: \"+msg.payload.iconColor);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":360,"wires":[["a59fea1b.5ad1a","4bdbd027.f256b8","1a6c5809.5b1848"]]},{"id":"d081d4d9.4047f","type":"worldmap-tracks","z":"f5d65864.a74aa","name":"Show Tracks","depth":"27","layer":"combined","smooth":true,"x":930,"y":420,"wires":[["17115e36.792412"]]},{"id":"6f0fe54b.ffcc94","type":"ui_table","z":"f5d65864.a74aa","group":"fc9e9fa7.a8b998","name":"Asset Table","order":3,"width":7,"height":6,"columns":[{"field":"name","title":"Asset Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"lat","title":"Latitude","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"lon","title":"Longitude","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"geoFence","title":"Geo Fence","width":"","align":"left","formatter":"tickCross","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":730,"y":480,"wires":[[]]},{"id":"c401f673.406dd","type":"function","z":"f5d65864.a74aa","name":"prepLocTable","func":"var map1 = flow.get('map1');\n\n//Get all rows from the Map and construct an array\n//The ui_table node requires an array of payload\nvar all_keys = map1.keys();\nvar ppTable=[];\nfor (var k of all_keys) // for all elements in map\n{\n    ppTable.push(map1.get(k));\n}\n\nmsg.payload=ppTable;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":480,"wires":[["6f0fe54b.ffcc94"]]},{"id":"fc04d409.94a388","type":"ui_chart","z":"f5d65864.a74aa","name":"Engine Oil","group":"403ec538.903a44","order":2,"width":7,"height":5,"label":"Engine Oil (%)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"20","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ffb673","#afe9af","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":1140,"wires":[[]]},{"id":"7ca3a84f.fccef8","type":"ui_chart","z":"f5d65864.a74aa","name":"Engine Temp","group":"403ec538.903a44","order":1,"width":7,"height":5,"label":"Engine Temp (°C)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ffb571","#abe9ab","#80d76c","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":1100,"wires":[[]]},{"id":"17115e36.792412","type":"ui_worldmap","z":"f5d65864.a74aa","group":"fc9e9fa7.a8b998","order":2,"width":23,"height":15,"name":"","lat":"28.5024947","lon":"77.0644510","zoom":"17","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":1100,"y":360,"wires":[]},{"id":"86e8da00.dae478","type":"geofence","z":"f5d65864.a74aa","name":"Display Geofence","mode":"polyline","inside":"false","rad":0,"points":[{"latitude":28.50245060227411,"longitude":77.06128120422363},{"latitude":28.50456255746725,"longitude":77.06243991851807},{"latitude":28.504864261900998,"longitude":77.06535816192627},{"latitude":28.505354529765714,"longitude":77.06776142120361},{"latitude":28.504637983656554,"longitude":77.06866264343262},{"latitude":28.503808292608337,"longitude":77.06960678100586},{"latitude":28.500678035823036,"longitude":77.06655979156494}],"centre":{},"floor":"","ceiling":"","worldmap":true,"outputs":2,"x":730,"y":80,"wires":[[],["4388578a.f3c1c8"]]},{"id":"8ae833d8.75bcc","type":"rbe","z":"f5d65864.a74aa","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1210,"y":160,"wires":[["855976a8.8f2ab","f40e3adb.a3ce","72e75625.e72e4"]]},{"id":"ff8267c5.2d3ee8","type":"ui_toast","z":"f5d65864.a74aa","position":"top right","displayTime":"5","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Popup Alert","x":1550,"y":140,"wires":[]},{"id":"5373d71b.9b2a3","type":"debug","z":"f5d65864.a74aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":720,"wires":[]},{"id":"1a6c5809.5b1848","type":"change","z":"f5d65864.a74aa","name":"","rules":[{"t":"set","p":"location","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":200,"wires":[["5e4a5399.fc065c","98d792fe.dbbff"]]},{"id":"90566451.b4bc68","type":"function","z":"f5d65864.a74aa","name":"geoFence=0","func":"var map1 = flow.get('map1');\nvar obj = map1.get(msg.payload.name);\nobj.geoFence = 0; //outside fence\n\nmap1.set(msg.payload.name, obj);\nflow.set('map1', map1);\n\n//prepare mesg for notification\nmsg.topic = msg.payload.name;\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":160,"wires":[["8ae833d8.75bcc"]]},{"id":"c8ba5731.3f215","type":"rbe","z":"f5d65864.a74aa","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1210,"y":240,"wires":[["72e75625.e72e4","f40e3adb.a3ce"]]},{"id":"d843e561.6dc08","type":"function","z":"f5d65864.a74aa","name":"geoFence=1","func":"var map1 = flow.get('map1');\nvar obj = map1.get(msg.payload.name);\nobj.geoFence = 1; //inside fence\n\nmap1.set(msg.payload.name, obj);\nflow.set('map1', map1);\n\n//prepare mesg for notification\nmsg.topic = msg.payload.name;\n\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":240,"wires":[["c8ba5731.3f215"]]},{"id":"d8d5e06b.8f54e8","type":"worldmap in","z":"f5d65864.a74aa","name":"","path":"/worldmap","events":"connect","x":340,"y":80,"wires":[["8e9738ac.3b8f7","af1fd77c.7c576","6e2ddecc.bcf6b"]]},{"id":"8e9738ac.3b8f7","type":"change","z":"f5d65864.a74aa","name":"SendGeo","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"action\": \"send\", \"fillOpacity\": 0.75}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":80,"wires":[["86e8da00.dae478"]]},{"id":"9478b014.c4e868","type":"debug","z":"f5d65864.a74aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":80,"wires":[]},{"id":"4388578a.f3c1c8","type":"change","z":"f5d65864.a74aa","name":"Opacity","rules":[{"t":"set","p":"payload.fillOpacity","pt":"msg","to":"0.34","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":80,"wires":[["9478b014.c4e868","17115e36.792412"]]},{"id":"ac1d5cf1.38e7","type":"comment","z":"f5d65864.a74aa","name":"Create & send geofence to worldmap","info":"","x":280,"y":40,"wires":[]},{"id":"290a7f71.0b7c1","type":"function","z":"f5d65864.a74aa","name":"Map Loc","func":"var map1 = flow.get('map1') || new Map();\n\nif (map1.get(msg.payload.name) == undefined)\n{\n    var obj = {\n    //\"count\": msg.payload.count,\n    \"count\": 1,\n    \"name\": msg.payload.name,\n    \"lat\":  msg.payload.lat,\n    \"lon\":  msg.payload.lon,\n    }\n\n    map1.set(obj.name, obj);\n    //msg.payload = obj;\n}\nelse\n{\n    map1 = flow.get('map1');\n    var obj2 = map1.get(msg.payload.name);\n\n    obj2.name = msg.payload.name;\n    obj2.lat =  msg.payload.lat;\n    obj2.lon =  msg.payload.lon;\n\n    map1.set(obj2.name, obj2);\n    //msg.payload = obj2;\n}   \n\nflow.set('map1', map1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar map1 = new Map();\n//console.log(\"========Created new map=========\");\nflow.set('map1', map1);","finalize":"","libs":[],"x":260,"y":420,"wires":[["c401f673.406dd","662bc825.44dab","398abac4.9ad8b6"]]},{"id":"f490a274.eb1a08","type":"debug","z":"f5d65864.a74aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":300,"wires":[]},{"id":"8ea9995d.001e7","type":"comment","z":"f5d65864.a74aa","name":"Store in a Map - Latest data","info":"","x":230,"y":380,"wires":[]},{"id":"86b4b941.565bb8","type":"comment","z":"f5d65864.a74aa","name":"Show on map","info":"","x":470,"y":320,"wires":[]},{"id":"87e01b72.b85938","type":"comment","z":"f5d65864.a74aa","name":"Check if asset is in geofence","info":"","x":600,"y":160,"wires":[]},{"id":"819df217.48442","type":"comment","z":"f5d65864.a74aa","name":"Update in UI Table","info":"","x":480,"y":440,"wires":[]},{"id":"72e75625.e72e4","type":"link out","z":"f5d65864.a74aa","name":"To RefreshTable","links":["e254fbad.ae5d08"],"x":1355,"y":240,"wires":[]},{"id":"e254fbad.ae5d08","type":"link in","z":"f5d65864.a74aa","name":"RefreshTable","links":["72e75625.e72e4"],"x":335,"y":480,"wires":[["c401f673.406dd"]]},{"id":"317a4a84.7df4f6","type":"comment","z":"f5d65864.a74aa","name":"Configure Thresholds","info":"","x":200,"y":1720,"wires":[]},{"id":"1f38a40a.c9375c","type":"ui_slider","z":"f5d65864.a74aa","name":"EngineTemp Threshold (C)","label":"Engine Temp (C)","tooltip":"Set Engine Temperature Threshold","group":"895bd9c1.3afe98","order":1,"width":5,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"1","max":"80","step":1,"x":420,"y":1760,"wires":[["a21abfac.3ca88"]]},{"id":"b42162bb.035ee","type":"ui_slider","z":"f5d65864.a74aa","name":"EngineOil Threshold(%)","label":"Engine Oil (%)","tooltip":"Set EngineOil Threshold (%)","group":"895bd9c1.3afe98","order":2,"width":5,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"20","max":"100","step":"5","x":410,"y":1820,"wires":[["91740040.a07908"]]},{"id":"dc51bd02.84e24","type":"ui_slider","z":"f5d65864.a74aa","name":"Hydraulic Pressure Threshold","label":"Hydraulic Pressure","tooltip":"Set Hyd Pressure Threshold","group":"895bd9c1.3afe98","order":5,"width":5,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"2","max":"40","step":"1","x":430,"y":1960,"wires":[["88bdca13.83c73"]]},{"id":"a21abfac.3ca88","type":"function","z":"f5d65864.a74aa","name":"set engine_temp_threshold","func":"var value = msg.payload * 1;\nflow.set('engine_temp_threshold',value);\n\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1760,"wires":[[]]},{"id":"91740040.a07908","type":"function","z":"f5d65864.a74aa","name":"set engine_oil_threshold","func":"var value = msg.payload * 1;\nflow.set('engine_oil_threshold',value);\n\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1820,"wires":[[]]},{"id":"88bdca13.83c73","type":"function","z":"f5d65864.a74aa","name":"set hyd_pressure_threshold","func":"var value = msg.payload * 1;\nflow.set('hyd_pressure_threshold',value);\n\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1960,"wires":[[]]},{"id":"bf14fa7e.97e0f","type":"inject","z":"f5d65864.a74aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"65","payloadType":"num","x":170,"y":1760,"wires":[["1f38a40a.c9375c"]]},{"id":"3859fa36.34c43e","type":"inject","z":"f5d65864.a74aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","x":170,"y":1820,"wires":[["b42162bb.035ee"]]},{"id":"cee111b3.473788","type":"inject","z":"f5d65864.a74aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"18","payloadType":"num","x":170,"y":1960,"wires":[["dc51bd02.84e24"]]},{"id":"855976a8.8f2ab","type":"change","z":"f5d65864.a74aa","name":"Set Alert","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"GeoFence Violation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":140,"wires":[["ff8267c5.2d3ee8"]]},{"id":"a59fea1b.5ad1a","type":"function","z":"f5d65864.a74aa","name":"setColor","func":"var inFence = msg.payload.geoFence;\n\nif(inFence == 0)\n    msg.payload.iconColor= \"red\"; //outside the fence\nelse if (inFence == 1)\n    msg.payload.iconColor= \"brown\";\nelse\n    msg.payload.iconColor= \"blue\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":360,"wires":[["17115e36.792412","f490a274.eb1a08"]]},{"id":"3ebed0a0.608bf8","type":"link in","z":"f5d65864.a74aa","name":"RefreshColor","links":["f40e3adb.a3ce"],"x":635,"y":320,"wires":[["a59fea1b.5ad1a"]]},{"id":"f40e3adb.a3ce","type":"link out","z":"f5d65864.a74aa","name":"To setColor","links":["3ebed0a0.608bf8"],"x":1405,"y":200,"wires":[]},{"id":"4bdbd027.f256b8","type":"function","z":"f5d65864.a74aa","name":"delTrack","func":"if (msg.payload.count == 20)\n{\n    var name = msg.payload.name+\"_\";\n    msg.payload.name = name;\n    msg.payload.deleted = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":420,"wires":[["d081d4d9.4047f"]]},{"id":"c991fab3.3266d8","type":"switch","z":"f5d65864.a74aa","name":"Loc-sensor","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"location","vt":"str"},{"t":"cont","v":"sensor","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":540,"wires":[["290a7f71.0b7c1"],["fb2e4025.d92e8"]]},{"id":"7ca30a7b.c82ecc","type":"function","z":"f5d65864.a74aa","name":"Map Sensor","func":"var map2 = flow.get('map2') || new Map();\nvar obj = map2.get(msg.payload.name) || {};\n\nobj = msg.payload;\nmap2.set(obj.name, obj);\nmsg.payload = obj;\n\nflow.set('map2', map2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar map2 = new Map();\nflow.set('map2', map2);","finalize":"","libs":[],"x":450,"y":820,"wires":[["f3afb85.65a88c8","e4f458c4.cdb308"]]},{"id":"f3afb85.65a88c8","type":"function","z":"f5d65864.a74aa","name":"prepSenTable","func":"var engine_temp_threshold  = flow.get('engine_temp_threshold');\nvar engine_oil_threshold   = flow.get('engine_oil_threshold');\nvar fuel_level_threshold   = flow.get('fuel_level_threshold');\nvar engine_speed_threshold = flow.get('engine_speed_threshold');\nvar hyd_pressure_threshold = flow.get('hyd_pressure_threshold');\nvar battery_threshold      = flow.get('battery_threshold');\n\nvar map2 = flow.get('map2');\n\n//Select a colour based on value\nfunction selectColor(value, threshold, type)\n{\n    var color = \"#000000\";\n     \n    if (type == 1 && value >= threshold) {\n        //color = '#ffa3a3';\n        color = '#ab0000';\n    }\n    else if (type == 2 && value <= threshold) {\n        //color = '#ffa3a3';\n        color = '#ab0000';\n    }\n    else \n    {\n        return null;\n    }\n    \n    return color;\n}\n\n//Get all rows from the Map and construct an array\n//The ui_table node requires an array of payload\nvar all_keys = map2.keys();\nvar ppTable=[];\nfor (var k of all_keys) // for all elements in map\n{\n    ppTable.push(map2.get(k));\n}\n\n//For all objects in array, update colour if required\nfor (var i=0; i<ppTable.length; i++)\n{\n    //1.Check Threshold for engineTemp\n    var engTemp = ppTable[i].engineTemp;\n    var clr = selectColor(engTemp, engine_temp_threshold, 1);\n    if(clr != null){\n        engTemp = \"<div style='background-color:\" + clr + \"; width:100%'>\" + engTemp + \"</div>\";\n    }\n    //2.Check Threshold for engineOil\n    var engOil = ppTable[i].engineOil;\n    clr = selectColor(engOil, engine_oil_threshold, 2);\n    if(clr != null){\n        engOil = \"<div style='background-color:\" + clr + \"; width:100%'>\" + engOil + \"</div>\";\n    }\n    //3.Check for fuelLevel\n    var fuelLevel = ppTable[i].fuelLevel;\n    //console.log(\"FuelLevel: \"+fuelLevel);\n    clr = selectColor(fuelLevel, fuel_level_threshold, 2);\n    if(clr != null){\n        fuelLevel = \"<div style='background-color:\" + clr + \"; width:100%'>\" + fuelLevel + \"</div>\";\n    }\n    //4.Check for engineSpeed\n    var engSpeed = ppTable[i].engineSpeed;\n    clr = selectColor(engSpeed, engine_speed_threshold, 1);\n    if(clr != null){\n        engSpeed = \"<div style='background-color:\" + clr + \"; width:100%'>\" + engSpeed + \"</div>\";\n    }\n    //5.Check Threshold for hydrolic pressure\n    var hydPr = ppTable[i].hydraulicPr;\n    clr = selectColor(hydPr, hyd_pressure_threshold, 1);\n    if(clr != null){\n        hydPr = \"<div style='background-color:\" + clr + \"; width:100%'>\" + hydPr + \"</div>\";\n    }\n    //6.Check Threshold for hydrolic pressure\n    var battStatus = ppTable[i].battStatus;\n    clr = selectColor(battStatus, battery_threshold, 2);\n    if(clr != null){\n        battStatus = \"<div style='background-color:\" + clr + \"; width:100%'>\" + battStatus + \"</div>\";\n    }\n    //var obj = map2.get('ITV1');\n    //console.log(\"2nd FuelLevel: \"+obj.fuelLevel);\n    //Update values in the array\n    var newObj = {}\n    newObj.date = ppTable[i].date;\n    newObj.time = ppTable[i].time;\n    newObj.name = ppTable[i].name;\n    newObj.engineTemp = engTemp;\n    newObj.engineOil = engOil;\n    newObj.fuelLevel = fuelLevel;\n    newObj.engineSpeed = engSpeed;\n    newObj.hydraulicPr = hydPr;\n    newObj.battStatus = battStatus;\n    \n    ppTable[i] = newObj;\n}\n\n\nmsg.payload=ppTable;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":820,"wires":[["5cbe4c32.4e1004"]]},{"id":"5cbe4c32.4e1004","type":"ui_table","z":"f5d65864.a74aa","group":"ccff3ab.473b6c8","name":"Sensor Table","order":1,"width":21,"height":4,"columns":[{"field":"date","title":"Date","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"time","title":"Time","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"name","title":"Asset Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"engineTemp","title":"Engine Temp(C)","width":"","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"engineOil","title":"Engine Oil(%)","width":"","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"fuelLevel","title":"Fuel Level(%)","width":"","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"engineSpeed","title":"Speed (kmph)","width":"","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"battStatus","title":"Battery (%)","width":"","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"hydraulicPr","title":"Hydraulic (bar)","width":"","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"liftedLoad","title":"Load Lifted (ton)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":970,"y":820,"wires":[[]]},{"id":"39cc30f2.ccfe58","type":"ui_chart","z":"f5d65864.a74aa","name":"Hydraulic Pres","group":"403ec538.903a44","order":5,"width":7,"height":5,"label":"Hydraulic Pres (bar)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"10","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ffbf86","#ace8ac","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":1260,"wires":[[]]},{"id":"249d1011.046a5","type":"inject","z":"f5d65864.a74aa","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":2660,"wires":[["72047784.0fd038"]]},{"id":"72047784.0fd038","type":"function","z":"f5d65864.a74aa","d":true,"name":"create sensordata","func":"var sql = \"CREATE TABLE \";\nvar tname = \"sensordata\";\nvar cols = \" (TIMESTAMP BIGINT NOT NULL, \" +\n\t\"date VARCHAR(20) NOT NULL, \" +\n    \"time VARCHAR(12) NOT NULL, \" +\n    \"name VARCHAR(20) NOT NULL, \" +\n    \"ignStatus VARCHAR(4), \" +\n    \"battStatus FLOAT, \" +\n    \"engineTemp FLOAT, \" +\n    \"engineOil FLOAT, \" +\n    \"fuelLevel FLOAT, \" +\n    \"engineSpeed FLOAT, \" +\n    \"hydraulicPr FLOAT, \" +\n    \"liftedLoad FLOAT, \" +\n    \"PRIMARY KEY(TIMESTAMP, name) \" +\n    \");\"\nmsg.topic = sql + tname + cols;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2660,"wires":[["80bb7990.7f697"]]},{"id":"80bb7990.7f697","type":"mysql","z":"f5d65864.a74aa","d":true,"mydb":"2f5644cc.b007b4","name":"iotdb","x":690,"y":2660,"wires":[["a975fb8a.90ce18"]]},{"id":"a975fb8a.90ce18","type":"debug","z":"f5d65864.a74aa","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":2660,"wires":[]},{"id":"42d96969.d47","type":"inject","z":"f5d65864.a74aa","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"select * from testdata;","payload":"","payloadType":"date","x":200,"y":2860,"wires":[["5f1d4b18.e2bb64"]]},{"id":"5f1d4b18.e2bb64","type":"mysql","z":"f5d65864.a74aa","d":true,"mydb":"2f5644cc.b007b4","name":"iotdb","x":450,"y":2860,"wires":[["82f299c8.28566"]]},{"id":"82f299c8.28566","type":"debug","z":"f5d65864.a74aa","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":2860,"wires":[]},{"id":"d7f34a32.dcc75","type":"inject","z":"f5d65864.a74aa","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO testData (timestamp, sensor, temp, humidity) VALUES (1, 'Fuelsensor', 32, 26);","payload":"","payloadType":"date","x":200,"y":2940,"wires":[["5f1d4b18.e2bb64"]]},{"id":"e4d0a907.1f3b98","type":"comment","z":"f5d65864.a74aa","d":true,"name":"Test DB connection","info":"","x":190,"y":2820,"wires":[]},{"id":"c7e5d35e.852b98","type":"comment","z":"f5d65864.a74aa","d":true,"name":"Create DB Tables - only once","info":"","x":210,"y":2620,"wires":[]},{"id":"4cc2b810.88f588","type":"function","z":"f5d65864.a74aa","name":"insert sensor sql","func":"if (msg.topic != \"sensor\")\n    return null;\n//console.log(\"start INSERT SQL\");\n//Get a timestamp - convert from millsec to sec\nvar timestamp = Date.now();\nvar sqlcmd = \"INSERT IGNORE INTO \";\nvar tname = \"sensordata\";\nvar cols = \" (TIMESTAMP, date, time, name, \" +\n    \"ignStatus, battStatus, engineTemp, \" +\n    \"engineOil, fuelLevel, engineSpeed, \" +\n    \"hydraulicPr, liftedLoad)\";\nvar data = \" VALUES (\" +\n    msg.payload.timestamp + \", '\"+\n    msg.payload.date + \"', '\"+\n    msg.payload.time + \"', '\"+\n    msg.payload.name + \"', '\"+\n    msg.payload.ignStatus + \"', \"+\n    msg.payload.battStatus + \", \"+\n    msg.payload.engineTemp + \", \"+\n    msg.payload.engineOil + \", \"+\n    msg.payload.fuelLevel + \", \"+\n    msg.payload.engineSpeed + \", \"+\n    msg.payload.hydraulicPr + \", \"+\n    msg.payload.liftedLoad +\n    \");\";\n// The sql should be in Topic\nmsg.topic = sqlcmd + tname + cols + data;\nmsg.timestamp = timestamp;\n//console.log(\"TOPIC: \"+msg.topic);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":720,"wires":[["b2d066b5.0079c"]]},{"id":"8fa9386b.41526","type":"change","z":"f5d65864.a74aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sensor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":720,"wires":[["4cc2b810.88f588"]]},{"id":"b2d066b5.0079c","type":"mysql","z":"f5d65864.a74aa","mydb":"2f5644cc.b007b4","name":"iotdb","x":890,"y":720,"wires":[["5373d71b.9b2a3"]]},{"id":"872b59f6.82896","type":"function","z":"f5d65864.a74aa","name":"SQL History data","func":"var data = context.get('data') || {\"device\":\"ITV1\"};\nvar topic = msg.topic;\nvar payload = msg.payload;\n\nif (msg.payload == undefined || msg.payload==\"\")\n    return;\nif(topic == \"device\")\n    data.device = msg.payload;\n\nif(topic == 'refresh'){\n    var sql = \"Select * from sensordata \";\n    if(data.device != \"ALL\")\n        sql += \"WHERE name='\"+data.device+\"' \";\n    sql += \"order by timestamp desc limit 100; \";\n}\n\ncontext.set('data', data);\nif(topic == \"refresh\" && sql!=\"\")\n{\n    msg.topic = sql;\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":2120,"wires":[["532aeed7.af14d8","ab0e1988.9125d"]]},{"id":"9f7ca330.190ca","type":"ui_table","z":"f5d65864.a74aa","group":"da149e6e.c15288","name":"History Table","order":5,"width":21,"height":11,"columns":[{"field":"date","title":"Date","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"time","title":"Time","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"name","title":"Asset Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"engineTemp","title":"Engine Temp(C)","width":"","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"engineOil","title":"Engine Oil(%)","width":"","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"fuelLevel","title":"Fuel Level(%)","width":"","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"engineSpeed","title":"Speed (kmph)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"hydraulicPr","title":"Hydraulic Pr (bar)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"liftedLoad","title":"Load Lifted (Ton)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1160,"y":2120,"wires":[[]]},{"id":"ab0e1988.9125d","type":"mysql","z":"f5d65864.a74aa","mydb":"2f5644cc.b007b4","name":"iotdb","x":900,"y":2120,"wires":[["9f7ca330.190ca"]]},{"id":"173275a8.666aea","type":"ui_button","z":"f5d65864.a74aa","name":"refresh","group":"da149e6e.c15288","order":3,"width":3,"height":1,"passthru":false,"label":"Refresh Table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"refresh","topicType":"str","x":360,"y":2080,"wires":[["872b59f6.82896"]]},{"id":"a9bca233.f4f74","type":"debug","z":"f5d65864.a74aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":280,"wires":[]},{"id":"fb2e4025.d92e8","type":"switch","z":"f5d65864.a74aa","name":"ITV-ENV","property":"payload.name","propertyType":"msg","rules":[{"t":"cont","v":"ITV","vt":"str"},{"t":"cont","v":"ENV","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":700,"wires":[["7ca30a7b.c82ecc","8fa9386b.41526"],["cd008557.0f2fa"]]},{"id":"a2a714bb.476798","type":"link in","z":"f5d65864.a74aa","name":"Sensor Charts","links":["e4f458c4.cdb308"],"x":135,"y":1200,"wires":[["7c5e1d8.1584164"]]},{"id":"e4f458c4.cdb308","type":"link out","z":"f5d65864.a74aa","name":"","links":["a2a714bb.476798"],"x":555,"y":780,"wires":[]},{"id":"cd008557.0f2fa","type":"function","z":"f5d65864.a74aa","name":"Map ENV","func":"var map3 = flow.get('map3') || new Map();\nvar obj = map3.get(msg.payload.name) || {};\n\n    obj.date = msg.payload.date;\n    obj.time = msg.payload.time;\n    obj.name = msg.payload.name;\n    obj.outsideTemp = msg.payload.outsideTemp;\n    obj.outsideHum = msg.payload.outsideHum;\n    obj.windSpeed = msg.payload.windSpeed;\n    obj.outsidePr = msg.payload.outsidePr;\n\n    \nmap3.set(obj.name, obj);\nmsg.payload = obj;\n\nflow.set('map3', map3);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar map3 = new Map();\nflow.set('map3', map3);","finalize":"","libs":[],"x":400,"y":960,"wires":[["6c7d5ab8.38e5a4"]]},{"id":"6c7d5ab8.38e5a4","type":"function","z":"f5d65864.a74aa","name":"Prep ENV Chart","func":"\nvar outTemp = {\n    \"payload\": msg.payload.outsideTemp,\n    \"topic\": msg.payload.name\n}\nvar outHum = {\n    \"payload\": msg.payload.outsideHum,\n    \"topic\": msg.payload.name\n}\nvar outPr = {\n    \"payload\": msg.payload.outsidePr,\n    \"topic\": msg.payload.name\n}\nvar windSpd = {\n    \"payload\": msg.payload.windSpeed,\n    \"topic\": msg.payload.name\n}\nreturn [outTemp, outHum, outPr, windSpd];","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":960,"wires":[["6f7f8e26.2c28a8"],["badadfb2.b2113"],["242a648a.b72e44"],["53f0319e.f9078"]]},{"id":"6f7f8e26.2c28a8","type":"ui_gauge","z":"f5d65864.a74aa","name":"Env Temp","group":"6ca38bcc.80344c","order":1,"width":5,"height":3,"gtype":"gage","title":"Env Temp","label":"°C","format":"{{value}} °C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":900,"wires":[]},{"id":"badadfb2.b2113","type":"ui_gauge","z":"f5d65864.a74aa","name":"Env Humidity","group":"6ca38bcc.80344c","order":2,"width":5,"height":3,"gtype":"wave","title":"Env Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":940,"wires":[]},{"id":"242a648a.b72e44","type":"ui_gauge","z":"f5d65864.a74aa","name":"Env Pressure","group":"6ca38bcc.80344c","order":3,"width":5,"height":3,"gtype":"donut","title":"Env Pressure","label":"mBar","format":"{{value}}","min":"500","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":980,"wires":[]},{"id":"53f0319e.f9078","type":"ui_gauge","z":"f5d65864.a74aa","name":"Wind Speed","group":"6ca38bcc.80344c","order":4,"width":5,"height":3,"gtype":"compass","title":"Wind Speed","label":"km/h","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":1020,"wires":[]},{"id":"767cd96b.0d0a6","type":"ui_chart","z":"f5d65864.a74aa","name":"Fuel Level","group":"403ec538.903a44","order":3,"width":7,"height":5,"label":"Fuel Level (L)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"20","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ffb673","#afe9af","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":1180,"wires":[[]]},{"id":"b51c9f85.8a5fc","type":"ui_chart","z":"f5d65864.a74aa","name":"Engine Speed","group":"403ec538.903a44","order":4,"width":7,"height":5,"label":"Engine Speed (km/h)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"90","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ffb673","#afe9af","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":1220,"wires":[[]]},{"id":"35bf9163.291586","type":"ui_chart","z":"f5d65864.a74aa","name":"Lifted Load","group":"403ec538.903a44","order":6,"width":7,"height":5,"label":"Lifted Load (Ton)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ffbf86","#ace8ac","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":990,"y":1300,"wires":[[]]},{"id":"32fb51ec.bb8eee","type":"ui_slider","z":"f5d65864.a74aa","name":"Fuel Level Threshold(%)","label":"Fuel Level (%)","tooltip":"Set Fuel Level Threshold (%)","group":"895bd9c1.3afe98","order":3,"width":5,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"20","max":"100","step":"1","x":410,"y":1880,"wires":[["90e6d464.6f9068"]]},{"id":"90e6d464.6f9068","type":"function","z":"f5d65864.a74aa","name":"set fuel_level_threshold","func":"var value = msg.payload * 1;\nflow.set('fuel_level_threshold',value);\n\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":1880,"wires":[[]]},{"id":"4942b3dc.47764c","type":"inject","z":"f5d65864.a74aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":170,"y":1880,"wires":[["32fb51ec.bb8eee"]]},{"id":"68973501.7abb74","type":"ui_slider","z":"f5d65864.a74aa","name":"EngineSpeed Threshold(%)","label":"Engine Speed (kmph)","tooltip":"Set EngSpeedThreshold (%)","group":"895bd9c1.3afe98","order":7,"width":5,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"20","max":"100","step":"5","x":420,"y":1920,"wires":[["a5fda37.0735f6"]]},{"id":"a5fda37.0735f6","type":"function","z":"f5d65864.a74aa","name":"set engine_speed_threshold","func":"var value = msg.payload * 1;\nflow.set('engine_speed_threshold',value);\n\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1920,"wires":[[]]},{"id":"2090eb21.63948c","type":"inject","z":"f5d65864.a74aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":170,"y":1920,"wires":[["68973501.7abb74"]]},{"id":"5ce05a2.817f324","type":"ui_slider","z":"f5d65864.a74aa","name":"Battery Threshold","label":"Battery Level (%)","tooltip":"Set Battery Threshold","group":"895bd9c1.3afe98","order":6,"width":5,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"20","max":"100","step":"1","x":390,"y":2000,"wires":[["c7926cfc.3d998"]]},{"id":"c7926cfc.3d998","type":"function","z":"f5d65864.a74aa","name":"set battery_threshold","func":"var value = msg.payload * 1;\nflow.set('battery_threshold',value);\n\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":2000,"wires":[[]]},{"id":"72aadb12.cd9b14","type":"inject","z":"f5d65864.a74aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"70","payloadType":"num","x":170,"y":2000,"wires":[["5ce05a2.817f324"]]},{"id":"f88e27f9.c0aa5","type":"comment","z":"f5d65864.a74aa","name":"Read DB & Show history table","info":"","x":160,"y":2080,"wires":[]},{"id":"e3335f0a.ead988","type":"ui_dropdown","z":"f5d65864.a74aa","name":"","label":"Device","tooltip":"Pick a device","place":"Select option","group":"1682feb0.269a49","order":1,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"},{"label":"ITV1","value":"ITV1","type":"str"},{"label":"ITV2","value":"ITV2","type":"str"},{"label":"ITV3","value":"ITV3","type":"str"},{"label":"ITV4","value":"ITV4","type":"str"}],"payload":"","topic":"device","topicType":"str","x":290,"y":2300,"wires":[["6ba4f77.b61e408"]]},{"id":"f7289964.1ea15","type":"ui_dropdown","z":"f5d65864.a74aa","name":"","label":"Data","tooltip":"","place":"Select option","group":"1682feb0.269a49","order":2,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Temperature","value":"engineTemp","type":"str"},{"label":"Eng Oil","value":"engineOil","type":"str"},{"label":"Fuel Level","value":"fuelLevel","type":"str"},{"label":"Speed","value":"engineSpeed","type":"str"},{"label":"Hydraulic Pressure","value":"hydraulicPr","type":"str"}],"payload":"","topic":"sensor","topicType":"str","x":290,"y":2340,"wires":[["6ba4f77.b61e408"]]},{"id":"d84c0652.cffaf","type":"ui_date_picker","z":"f5d65864.a74aa","name":"","label":"Start Date","group":"1682feb0.269a49","order":3,"width":4,"height":1,"passthru":true,"topic":"sdate","topicType":"str","x":300,"y":2380,"wires":[["6ba4f77.b61e408"]]},{"id":"5d7d9c64.5d271c","type":"ui_date_picker","z":"f5d65864.a74aa","name":"","label":"End Date","group":"1682feb0.269a49","order":4,"width":4,"height":1,"passthru":true,"topic":"edate","topicType":"str","x":300,"y":2420,"wires":[["6ba4f77.b61e408"]]},{"id":"60959b5d.4e1964","type":"ui_button","z":"f5d65864.a74aa","name":"","group":"1682feb0.269a49","order":5,"width":3,"height":1,"passthru":false,"label":"Submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"submit","topicType":"str","x":300,"y":2460,"wires":[["6ba4f77.b61e408"]]},{"id":"6ba4f77.b61e408","type":"function","z":"f5d65864.a74aa","name":"SQL History data","func":"var data = context.get('data') || {\"device\":\"ITV1\", \"sensor\":\"engineTemp\"};\nvar topic = msg.topic;\nvar payload = msg.payload;\n\nif (msg.payload == undefined || msg.payload==\"\")\n    return;\nif(topic == \"device\")\n    data.device = msg.payload;\nif(topic == \"sensor\")\n    data.sensor = msg.payload;\nif(topic == \"sdate\")\n    data.sdate = msg.payload;\nif(topic == 'edate')\n    data.edate = msg.payload;\n    \n\nfunction adjustDate(sdate, edate)\n{\n    var oneDayMsec = 24*60*60*1000;\n    if(edate == undefined) edate = Date.now();\n    if(sdate == undefined) sdate = edate - oneDayMsec;\n    if(sdate > edate)\n        sdate = edate - oneDayMsec;\n    if(edate == sdate)\n        edate = sdate + oneDayMsec;\n    data.edate = edate;\n    data.sdate = sdate;\n    return;\n}\n\nvar sql = \"\";\nif(topic == \"submit\")\n{\n    //console.log(\"Data=\"+data.device+ data.sensor+ data.sdate+ data.edate+\"**\");\n    adjustDate(data.sdate, data.edate);\n    var partmsg = \" AND TIMESTAMP > \"+data.sdate+ \" AND TIMESTAMP < \"+data.edate +\" \";\n    sql = \"SELECT timestamp, \" + data.sensor + \" as sensor from sensordata \";\n    sql = sql + \"WHERE name=\"+ \"'\"+data.device+\"' \" + partmsg;\n    sql = sql + \"ORDER BY TIMESTAMP DESC LIMIT 100;\";\n}\ncontext.set('data', data);\nif(topic == \"submit\" && sql!=\"\")\n{\n    msg.topic = sql;\n    return msg;\n}\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":2360,"wires":[["2346f45a.57c9a4"]]},{"id":"67c20e84.0572e8","type":"debug","z":"f5d65864.a74aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":2300,"wires":[]},{"id":"c89b858f.08ed48","type":"ui_chart","z":"f5d65864.a74aa","name":"","group":"1682feb0.269a49","order":6,"width":21,"height":7,"label":"sensor data","chartType":"line","legend":"false","xformat":"D/M HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1170,"y":2360,"wires":[[]]},{"id":"2346f45a.57c9a4","type":"mysql","z":"f5d65864.a74aa","mydb":"2f5644cc.b007b4","name":"iotdb","x":750,"y":2360,"wires":[["490362d6.9eec64"]]},{"id":"490362d6.9eec64","type":"function","z":"f5d65864.a74aa","name":"prep Chart data","func":"\nfunction chgArr(element, index, array)\n{\n    return {\"x\":element.timestamp, \"y\":element.sensor}\n}\n\nvar newArr = msg.payload.map(chgArr);\n\nvar chart = [{\n    \"series\":[\"sensor\"],\n    \"data\": [newArr],\n    \"labels\":[\"\"]\n}];\n\nmsg.payload = chart;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":2360,"wires":[["c89b858f.08ed48","67c20e84.0572e8"]]},{"id":"896d2de6.c614d8","type":"inject","z":"f5d65864.a74aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"ITV1","payloadType":"str","x":130,"y":2300,"wires":[["e3335f0a.ead988"]]},{"id":"7a037299.be578c","type":"inject","z":"f5d65864.a74aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"engineTemp","payloadType":"str","x":150,"y":2340,"wires":[["f7289964.1ea15"]]},{"id":"74a4cab7.cb31a4","type":"ui_template","z":"f5d65864.a74aa","group":"1682feb0.269a49","name":"Go to Grafana","order":7,"width":6,"height":1,"format":"\n<script>\n\nfunction redirect() {\n   window.open(\n  'http://localhost:3000/d/YL-UJKeGk/sensor-data?orgId=1&refresh=10s&kiosk=tv',\n  '_blank' // <- This is what makes it open in a new window.\n);\n}\n</script>\n\n<button \n\nstyle=\"height: 75px; width: 264px; margin-top:-10px; border:none; font-size: 20px; padding-top:8px\"\n\nonclick=\"redirect()\">See it in Grafana</button>\n\n<!-- \n<div id=\"my_links\" style=\"background: #aaaaaa; color: #ffff00; height: 70px\" >\n    <a target=\"_blank\" href=\"https://impact.idc.nokia.com/ui/#/login\">IMPACT</a>\n</div>\n\n\nlet a=document.createElement('a');\na.target='_blank';\na.href='https://impact.idc.nokia.com/ui/#/login/';\na.click();\n\n-->\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":180,"y":2540,"wires":[[]]},{"id":"98d792fe.dbbff","type":"geofence","z":"f5d65864.a74aa","name":"Outside Pts","mode":"polyline","inside":"false","rad":0,"points":[{"latitude":28.50245060227411,"longitude":77.06128120422363},{"latitude":28.50456255746725,"longitude":77.06243991851807},{"latitude":28.504864261900998,"longitude":77.06535816192627},{"latitude":28.505354529765714,"longitude":77.06776142120361},{"latitude":28.504637983656554,"longitude":77.06866264343262},{"latitude":28.503808292608337,"longitude":77.06960678100586},{"latitude":28.500678035823036,"longitude":77.06655979156494}],"centre":{},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":870,"y":160,"wires":[["90566451.b4bc68"]]},{"id":"5e4a5399.fc065c","type":"geofence","z":"f5d65864.a74aa","name":"Inside Pts","mode":"polyline","inside":"true","rad":0,"points":[{"latitude":28.50245060227411,"longitude":77.06128120422363},{"latitude":28.50456255746725,"longitude":77.06243991851807},{"latitude":28.504864261900998,"longitude":77.06535816192627},{"latitude":28.505354529765714,"longitude":77.06776142120361},{"latitude":28.504637983656554,"longitude":77.06866264343262},{"latitude":28.503808292608337,"longitude":77.06960678100586},{"latitude":28.500678035823036,"longitude":77.06655979156494}],"centre":{},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":860,"y":240,"wires":[["d843e561.6dc08"]]},{"id":"81add478.bdfad8","type":"mqtt out","z":"f5d65864.a74aa","name":"Send Data","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b8d1c944.a9217","x":1370,"y":1560,"wires":[]},{"id":"a3996f7f.562ee","type":"ui_button","z":"f5d65864.a74aa","name":"dispatch","group":"fc9e9fa7.a8b998","order":6,"width":3,"height":1,"passthru":false,"label":"Dispatch","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"submit","topicType":"str","x":560,"y":1520,"wires":[["2b31f7d4.d0e18"]]},{"id":"be555853.b0a4f","type":"ui_dropdown","z":"f5d65864.a74aa","name":"","label":"Device","tooltip":"Select a device for dispatch","place":"Select option","group":"fc9e9fa7.a8b998","order":5,"width":4,"height":1,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"device","topicType":"str","x":550,"y":1560,"wires":[["2b31f7d4.d0e18"]]},{"id":"2b31f7d4.d0e18","type":"function","z":"f5d65864.a74aa","name":"send Dispatch","func":"var data = context.get('data') || {\"device\":\"ITV1\", \"dispatch\":false};\nvar topic = msg.topic;\nvar payload = {};\n\nif (msg.payload == undefined || msg.payload==\"\")\n    return;\nif(topic == \"device\")\n    data.device = msg.payload;\n    \nif(topic == \"submit\")\n{\n    payload.name = data.device;\n    payload.dispatch = true;\n    msg.payload = payload;\n    return msg;\n}\ncontext.set('data', data);    \nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1560,"wires":[["b003b98.2d943c8"]]},{"id":"e5f9948b.c5b8c8","type":"change","z":"f5d65864.a74aa","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"u7ojzoqwe9uu/CMD/dispatch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1560,"wires":[["81add478.bdfad8","eaa24fe1.49e2e8"]]},{"id":"f3d6a063.9b12d8","type":"inject","z":"f5d65864.a74aa","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":1560,"wires":[["fcefc238.81a418"]]},{"id":"fcefc238.81a418","type":"function","z":"f5d65864.a74aa","name":"Device Options","func":"var options = [\"ITV1\", \"ITV2\", \"ITV3\", \"ITV4\"];\nmsg.options = options;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1560,"wires":[["be555853.b0a4f"]]},{"id":"eaa24fe1.49e2e8","type":"debug","z":"f5d65864.a74aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":1620,"wires":[]},{"id":"a061023a.3239b8","type":"ui_text","z":"f5d65864.a74aa","group":"fc9e9fa7.a8b998","order":8,"width":5,"height":1,"name":"","label":"","format":"<font color= {{msg.color}} > {{msg.dispStr}} </font>","layout":"row-center","x":1190,"y":1620,"wires":[]},{"id":"842dea8f.cd4248","type":"comment","z":"f5d65864.a74aa","name":"Send commands to Device","info":"","x":170,"y":1520,"wires":[]},{"id":"1190c47a.9e0e9c","type":"comment","z":"f5d65864.a74aa","name":"Display sensor charts","info":"","x":200,"y":1160,"wires":[]},{"id":"7cddb9dc.9dd24","type":"comment","z":"f5d65864.a74aa","name":"Display ENV charts","info":"","x":670,"y":900,"wires":[]},{"id":"af1fd77c.7c576","type":"function","z":"f5d65864.a74aa","name":"refresh Loc","func":"var map1 = flow.get('map1');\n\nif (map1 == undefined) return;\n//console.log(\"refreshing loc\")\n//Refresh loc if map reconnects\nif (msg.payload.action == \"connected\")\n{\n    var all_keys = map1.keys();\n    var ppTable=[];\n    for (var k of all_keys) // for all elements in map\n    {\n        ppTable.push(map1.get(k));\n    }\n}\nmsg.payload = ppTable;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":140,"wires":[["4459eba9.153eac"]]},{"id":"4459eba9.153eac","type":"split","z":"f5d65864.a74aa","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":180,"wires":[["662bc825.44dab"]]},{"id":"4d53b463.aeb5bc","type":"inject","z":"f5d65864.a74aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[{\"name\":\"Crane\",\"lat\":28.502167644562768,\"lon\":77.06794604763529,\"icon\":\"http://localhost:1880/crane.jpg\",\"iconSize\":64},{\"name\":\"Yard\",\"lat\":28.500617302383098,\"lon\":77.06642420527166,\"icon\":\"http://localhost:1880/yard.jpg\",\"iconSize\":64}]","payloadType":"json","x":1130,"y":300,"wires":[["a4462c2.cf790d"]]},{"id":"53498224.0d6624","type":"inject","z":"f5d65864.a74aa","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1624427682000","payloadType":"num","x":220,"y":2720,"wires":[["ee85b46a.0622e"]]},{"id":"8f7ae581.40334","type":"function","z":"f5d65864.a74aa","d":true,"name":"create tripdata","func":"var sql = \"CREATE TABLE \";\nvar tname = \"tripdata\";\nvar cols = \" (trip_id INT NOT NULL AUTO_INCREMENT, \" +\n    \"name VARCHAR(16) NOT NULL, \" +\n    \"start_at TIMESTAMP, \" +\n    \"end_at TIMESTAMP, \" +\n    \"trip_time TIME, \" +\n    \"trip_time_s INT, \" +\n    \"PRIMARY KEY(trip_id) \" +\n    \");\"\nmsg.topic = sql + tname + cols;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":2720,"wires":[["8c42efa.d75a31"]]},{"id":"8c42efa.d75a31","type":"mysql","z":"f5d65864.a74aa","d":true,"mydb":"2f5644cc.b007b4","name":"iotdb","x":690,"y":2720,"wires":[["b67e93a1.ecb77"]]},{"id":"b67e93a1.ecb77","type":"debug","z":"f5d65864.a74aa","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":2720,"wires":[]},{"id":"34df1b8b.9d744c","type":"function","z":"f5d65864.a74aa","d":true,"name":"insert tripdata","func":"var stime = Math.floor(msg.payload/1000);\nvar d = new Date(stime);\nvar sql = \"INSERT into \";\nvar tname = \"tripdata\";\nvar cols = \" (name, start_at, end_at) \";\nvar values = \"values ('ITV1',\";\nvalues = values + \"from_unixtime(\"+stime + \"),\";\nvalues = values + \"from_unixtime(\"+(stime+15) + \"));\";\nmsg.topic = sql + tname + cols + values;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2760,"wires":[["8c42efa.d75a31"]]},{"id":"ee85b46a.0622e","type":"function","z":"f5d65864.a74aa","d":true,"name":"update tripdata","func":"var stime = Math.floor(msg.payload/1000);\nvar d = new Date(stime);\nvar sql = \"UPDATE \";\nvar tname = \"tripdata\";\nvar cols = \" SET \";\nvar values = \"end_at= from_unixtime(\"+(stime+24)+\"), \";\nvalues = values + \"trip_time = timediff(end_at, start_at), \";\nvalues = values + \"trip_time_s = time_to_sec(trip_time) \";\nvar cond = \"WHERE name='ITV1' and start_at=from_unixtime(\"+stime+\");\";\nmsg.topic = sql + tname + cols + values + cond;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":2800,"wires":[["8c42efa.d75a31"]]},{"id":"cd7dbe83.60d09","type":"function","z":"f5d65864.a74aa","name":"show LocMap","func":"var map1 = flow.get('map1');\n\n//Get all rows from the Map and construct an array\n//The ui_table node requires an array of payload\nvar all_keys = map1.keys();\nvar ppTable=[];\nfor (var k of all_keys) // for all elements in map\n{\n    ppTable.push(map1.get(k));\n}\n\nmsg.payload=ppTable;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":480,"wires":[["44c7f44.da1028c"]]},{"id":"44c7f44.da1028c","type":"debug","z":"f5d65864.a74aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1360,"y":480,"wires":[]},{"id":"ebd0db5d.c8fc1","type":"inject","z":"f5d65864.a74aa","name":"show LocMap","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":960,"y":480,"wires":[["cd7dbe83.60d09"]]},{"id":"398abac4.9ad8b6","type":"function","z":"f5d65864.a74aa","name":"trip data","func":"var map1 = flow.get('map1') || new Map();\nvar obj = map1.get(msg.payload.name) || {};\n\nif(msg.payload.onTrip==undefined) return;\n\nobj.onTrip = msg.payload.onTrip;\n\nif(msg.payload.onTrip==0) {\n    obj.trip_end = Math.floor(Date.now()/1000);\n    //obj.onTrip = msg.payload.onTrip;\n}\nelse if (msg.payload.onTrip==1) {\n    if(obj.trip_start == undefined || obj.trip_start == 0){\n        obj.trip_start = Math.floor(Date.now()/1000);\n        obj.trip_end = 0;\n    }\n}\nmap1.set(obj.name, obj);\nflow.set('map1', map1);\n\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":580,"wires":[["9b298008.7fbc"]]},{"id":"9b298008.7fbc","type":"function","z":"f5d65864.a74aa","name":"insert trip sql","func":"var obj = msg.payload;\nvar sql_insert = \"\";\n\nfunction make_insert_sql(name, start, end)\n{\n    var sqlcmd = \"INSERT INTO \";\n    var tname = \"tripdata\";\n    var cols = \" (name, start_at, end_at, trip_time, trip_time_s) \";\n    var values = \" VALUES (\" +\n        \"'\"+ name + \"', \" +\n        \"from_unixtime(\"+start+\"), \" +\n        \"from_unixtime(\"+end+\"), \" +\n        \"timediff(end_at, start_at), \" +\n        \"time_to_sec(trip_time)\" + \" );\";\n    var sql=sqlcmd+tname+cols+values;\n    return sql;\n}\n\n//If trip_start & trip_end is non-zero, insert in DB\nif(obj.trip_start !=0 && obj.trip_end !=0)\n{\n    sql_insert = make_insert_sql(obj.name, obj.trip_start, obj.trip_end);\n    msg.topic = sql_insert;\n    msg.payload = obj;\n    return msg;\n}\n//Otherwise, continue\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":580,"wires":[["f90df71.dc65788","572db9e6.567c5"]]},{"id":"1b60aab8.60d63d","type":"inject","z":"f5d65864.a74aa","name":"onTrip","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"ITV1\",\"lat\":28.50241722466461,\"lon\":77.06494729487598,\"onTrip\":1}","payloadType":"json","x":390,"y":560,"wires":[["398abac4.9ad8b6"]]},{"id":"8c41a189.874a18","type":"inject","z":"f5d65864.a74aa","name":"offTrip","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"ITV1\",\"lat\":28.50241722466461,\"lon\":77.06494729487598,\"onTrip\":0}","payloadType":"json","x":390,"y":600,"wires":[["398abac4.9ad8b6"]]},{"id":"29bb6b5f.24ccec","type":"debug","z":"f5d65864.a74aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":580,"wires":[]},{"id":"f90df71.dc65788","type":"function","z":"f5d65864.a74aa","name":"reset trip","func":"var map1 = flow.get('map1');\nvar obj = map1.get(msg.payload.name);\nobj.trip_start = obj.trip_end = 0;\n\nmap1.set(obj.name, obj);\nflow.set('map1', map1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":560,"wires":[[]]},{"id":"a4462c2.cf790d","type":"delay","z":"f5d65864.a74aa","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1300,"y":300,"wires":[["6e2ddecc.bcf6b"]]},{"id":"572db9e6.567c5","type":"mysql","z":"f5d65864.a74aa","mydb":"2f5644cc.b007b4","name":"iotdb","x":990,"y":600,"wires":[["29bb6b5f.24ccec"]]},{"id":"dea48074.38ffb8","type":"comment","z":"f5d65864.a74aa","name":"Update Trip data in DB","info":"","x":598.7857055664062,"y":544.9285888671875,"wires":[]},{"id":"b003b98.2d943c8","type":"function","z":"f5d65864.a74aa","name":"Check Avail","func":"var map1 = flow.get('map1');\nvar locObj = map1.get(msg.payload.name);\nvar map2 = flow.get('map2');\nvar sobj = map2.get(msg.payload.name);\nvar outMsg1 = {};\nvar outMsg2 = {};\n\nif(locObj.onTrip == 1){  //already busy\n    outMsg2.payload = 0;\n    outMsg2.dispStr = msg.payload.name + \": \" + \"Already on Trip!\";\n    outMsg2.color = \"red\";\n    return [null, outMsg2];\n}\nelse {   //send dispatch\n    //console.log(\"Fuel:\"+sobj.fuelLevel+\" battery:\"+sobj.battStatus);\n    if(sobj.fuelLevel < 10){\n        outMsg2.payload = 0;\n        outMsg2.dispStr = msg.payload.name + \": \" + \"Low Fuel Level\";\n        outMsg2.color = \"red\";\n        return [null, outMsg2];\n    }\n    else if(sobj.battStatus < 25){\n        outMsg2.payload = 0;\n        outMsg2.dispStr = msg.payload.name + \": \" + \"Low Battery\";\n        outMsg2.color = \"red\";\n        return [null, outMsg2];\n    }\n    else {\n        outMsg1.payload = msg.payload;\n        outMsg1.dispStr = msg.payload.name + \": \" + \"Dispatch Sent\";\n        outMsg1.color = \"white\";\n        return [outMsg1, null];\n    }\n}\n\n\nreturn;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1560,"wires":[["e5f9948b.c5b8c8","a061023a.3239b8"],["a061023a.3239b8"]]},{"id":"9f0d7113.8b6f2","type":"inject","z":"f5d65864.a74aa","name":"ITV1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"180","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"ITV1\",\"dispatch\":true}","payloadType":"json","x":730,"y":1460,"wires":[["3011ce3d.62f10a"]]},{"id":"851ccb7e.04c1a","type":"inject","z":"f5d65864.a74aa","name":"ITV2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"240","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"ITV2\",\"dispatch\":true}","payloadType":"json","x":730,"y":1500,"wires":[["3011ce3d.62f10a"]]},{"id":"a68b2443.427bb8","type":"inject","z":"f5d65864.a74aa","name":"ITV3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"210","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"ITV3\",\"dispatch\":true}","payloadType":"json","x":870,"y":1460,"wires":[["3011ce3d.62f10a"]]},{"id":"be797d37.998e1","type":"inject","z":"f5d65864.a74aa","name":"ITV4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"270","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"ITV4\",\"dispatch\":true}","payloadType":"json","x":870,"y":1500,"wires":[["3011ce3d.62f10a"]]},{"id":"6e2ddecc.bcf6b","type":"change","z":"f5d65864.a74aa","name":"Crane Loc","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"name\":\"Crane\",\"lat\":28.5021676,\"lon\":77.067946,\"icon\":\"http://localhost:1880/crane.jpg\",\"iconSize\":64},{\"name\":\"Yard\",\"lat\":28.50039790453797,\"lon\":77.06639340916466,\"icon\":\"http://localhost:1880/yard.jpg\",\"iconSize\":64}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":300,"wires":[["17115e36.792412"]]},{"id":"d7407460.86fa28","type":"ui_switch","z":"f5d65864.a74aa","name":"auto_dispatch","label":"Auto Dispatch","tooltip":"","group":"fc9e9fa7.a8b998","order":4,"width":7,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":320,"y":1400,"wires":[["d2be5dd1.bf74e"]]},{"id":"9d201710.d0665","type":"inject","z":"f5d65864.a74aa","name":"Init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":1400,"wires":[["bec589a6.4b28f"]]},{"id":"d2be5dd1.bf74e","type":"function","z":"f5d65864.a74aa","name":"Toggle","func":"var curState = flow.get('auto_dispatch');\n\n//flow.set('curState', 1-curState);\nflow.set('auto_dispatch', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set('auto_dispatch', false);","finalize":"","libs":[],"x":410,"y":1440,"wires":[["d81319c1.160e68"]]},{"id":"bec589a6.4b28f","type":"delay","z":"f5d65864.a74aa","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":1440,"wires":[["d7407460.86fa28"]]},{"id":"3011ce3d.62f10a","type":"switch","z":"f5d65864.a74aa","name":"","property":"auto_dispatch","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1480,"wires":[[],["b003b98.2d943c8"]]},{"id":"b7d2d209.f01468","type":"inject","z":"f5d65864.a74aa","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1010,"y":1620,"wires":[["a061023a.3239b8"]]},{"id":"d81319c1.160e68","type":"function","z":"f5d65864.a74aa","name":"Enable","func":"if (msg.payload == true)\n    msg.enabled = false;\nelse\n    msg.enabled = true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set('auto_dispatch', false);","finalize":"","libs":[],"x":410,"y":1520,"wires":[["a3996f7f.562ee"]]},{"id":"be98e50f.bad888","type":"function","z":"f5d65864.a74aa","name":"show SenMap","func":"var map2 = flow.get('map2');\n\n//Get all rows from the Map and construct an array\n//The ui_table node requires an array of payload\nvar all_keys = map2.keys();\nvar ppTable=[];\nfor (var k of all_keys) // for all elements in map\n{\n    ppTable.push(map2.get(k));\n}\n\nmsg.payload=ppTable;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":840,"wires":[["11271d17.23652b"]]},{"id":"11271d17.23652b","type":"debug","z":"f5d65864.a74aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1560,"y":840,"wires":[]},{"id":"caad1c25.884d78","type":"inject","z":"f5d65864.a74aa","name":"show SenMap","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1160,"y":840,"wires":[["be98e50f.bad888"]]},{"id":"896d5629.175cf8","type":"inject","z":"f5d65864.a74aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"ALL","payloadType":"str","x":150,"y":2120,"wires":[["f6959b1f.e2ff7"]]},{"id":"f6959b1f.e2ff7","type":"ui_dropdown","z":"f5d65864.a74aa","name":"","label":"Device","tooltip":"Pick a device","place":"Select option","group":"da149e6e.c15288","order":1,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"ALL","value":"ALL","type":"str"},{"label":"ITV1","value":"ITV1","type":"str"},{"label":"ITV2","value":"ITV2","type":"str"},{"label":"ITV3","value":"ITV3","type":"str"},{"label":"ITV4","value":"ITV4","type":"str"}],"payload":"","topic":"device","topicType":"str","x":350,"y":2120,"wires":[["872b59f6.82896"]]},{"id":"532aeed7.af14d8","type":"debug","z":"f5d65864.a74aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":2080,"wires":[]},{"id":"903685d3.e814f","type":"function","z":"f5d65864.a74aa","name":"SQL Trip data","func":"var data = context.get('data') || {\"device\":\"ALL\"};\nvar topic = msg.topic;\nvar payload = msg.payload;\n\nif (msg.payload == undefined || msg.payload==\"\")\n    return;\nif(topic == \"device\")\n    data.device = msg.payload;\n\nif(topic == 'refresh'){\n    var sql = \"Select name, start_at, end_at, trip_time from tripdata \";\n    if(data.device != \"ALL\")\n        sql += \"WHERE name='\"+data.device+\"' \";\n    sql += \"order by start_at desc limit 40; \";\n}\n\ncontext.set('data', data);\nif(topic == \"refresh\" && sql!=\"\")\n{\n    msg.topic = sql;\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":2240,"wires":[["5927c401.3fe9ac","92949a3c.37f168"]]},{"id":"31844c2d.5e6a6c","type":"ui_table","z":"f5d65864.a74aa","group":"23f63ab5.dbb766","name":"History Table","order":4,"width":14,"height":11,"columns":[{"field":"name","title":"Name","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"start_at","title":"Start Time","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"end_at","title":"End Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"trip_time","title":"Trip Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1160,"y":2240,"wires":[[]]},{"id":"92949a3c.37f168","type":"mysql","z":"f5d65864.a74aa","mydb":"2f5644cc.b007b4","name":"iotdb","x":900,"y":2240,"wires":[["31844c2d.5e6a6c"]]},{"id":"ea822318.270668","type":"ui_button","z":"f5d65864.a74aa","name":"refresh","group":"23f63ab5.dbb766","order":2,"width":4,"height":1,"passthru":false,"label":"Get Trip Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"refresh","topicType":"str","x":360,"y":2200,"wires":[["903685d3.e814f"]]},{"id":"32a8a853.427ca8","type":"comment","z":"f5d65864.a74aa","name":"Read DB & Show history table","info":"","x":160,"y":2200,"wires":[]},{"id":"c446bc60.86286","type":"inject","z":"f5d65864.a74aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"ALL","payloadType":"str","x":150,"y":2240,"wires":[["6e9bf914.7ee078"]]},{"id":"6e9bf914.7ee078","type":"ui_dropdown","z":"f5d65864.a74aa","name":"","label":"Device","tooltip":"Pick a device","place":"Select option","group":"23f63ab5.dbb766","order":1,"width":5,"height":1,"passthru":true,"multiple":false,"options":[{"label":"ALL","value":"ALL","type":"str"},{"label":"ITV1","value":"ITV1","type":"str"},{"label":"ITV2","value":"ITV2","type":"str"},{"label":"ITV3","value":"ITV3","type":"str"},{"label":"ITV4","value":"ITV4","type":"str"}],"payload":"","topic":"device","topicType":"str","x":350,"y":2240,"wires":[["903685d3.e814f"]]},{"id":"5927c401.3fe9ac","type":"debug","z":"f5d65864.a74aa","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":2200,"wires":[]},{"id":"b8d1c944.a9217","type":"mqtt-broker","name":"IMPACT MQTT","broker":"impact.idc.nokia.com","port":"31883","clientid":"pk_mqtt_1","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fc9e9fa7.a8b998","type":"ui_group","name":"Location","tab":"6438fbb3.114974","order":1,"disp":false,"width":30,"collapse":false},{"id":"403ec538.903a44","type":"ui_group","name":"Sensor Charts","tab":"8ecb394d.432518","order":4,"disp":false,"width":"21","collapse":false},{"id":"895bd9c1.3afe98","type":"ui_group","z":"f5d65864.a74aa","name":"Thresholds","tab":"8ecb394d.432518","order":1,"disp":true,"width":21,"collapse":false},{"id":"ccff3ab.473b6c8","type":"ui_group","z":"f5d65864.a74aa","name":"Sensor Data","tab":"8ecb394d.432518","order":2,"disp":true,"width":"21","collapse":false},{"id":"2f5644cc.b007b4","type":"MySQLdatabase","name":"iotdb","host":"127.0.0.1","port":"3306","db":"iotdb","tz":"IST","charset":"UTF8"},{"id":"da149e6e.c15288","type":"ui_group","name":"History Table","tab":"e6eb2f81.4e0c4","order":2,"disp":false,"width":"21","collapse":false},{"id":"6ca38bcc.80344c","type":"ui_group","name":"ENV Charts","tab":"8ecb394d.432518","order":3,"disp":false,"width":"21","collapse":false},{"id":"1682feb0.269a49","type":"ui_group","name":"History Chart","tab":"e6eb2f81.4e0c4","order":1,"disp":true,"width":21,"collapse":false},{"id":"23f63ab5.dbb766","type":"ui_group","name":"Trip Report","tab":"e6eb2f81.4e0c4","order":3,"disp":true,"width":14,"collapse":false},{"id":"6438fbb3.114974","type":"ui_tab","name":"Tracking","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8ecb394d.432518","type":"ui_tab","name":"Sensors","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e6eb2f81.4e0c4","type":"ui_tab","name":"Reports","icon":"dashboard","order":3,"disabled":false,"hidden":false}]